{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SemiConductors</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }

     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/semiconduc.jpeg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Week 14</h1>
                        <hr class="small">
                        <h2>Semi Conductors</h2>
                        <h3>PHYS-221 April 26 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <br><br>
                    <h2>Conductivity Gap</h2>
                    Previously we have seen that the difference between what we call a conductor, an insulator or a semiconductor is given by the size of the gap between the valence band and the conduction band,<br><br>
                    <center>             <img src="{% static "img/insulator_semi_cond.png" %}" width="700"></center><br><br>  </center><br><br>
                    Let us now apply some quantum Fermi statistics to investigate the link between temperature and conductivity in insulators and semiconductors. As we have seen in our discussion on statistical mechanics, the expected number of electrons ${\cal N}$ in a state of energy $E$, is given by the Fermi distribution, given by,
                    $$\boxed{{\cal N}(E)={1\over e^{(E-E_F)\over k_B T}+1},}$$
                    from here, is easy to see than at zero temperature, is simple given by an step function, and as the temperature increases, the distribution deviates from a step function symmetrically around the Fermy energy.
                    <center>   <img src="{% static "img/ferm.png" %}" alt="double_slit" width="700"></center><br><br>
                    In words this imply that a $T =0$, electrons fill all the states available up to $E_F$, but at higher $T$ some electrons are terminally excited to higher energies and may be able to jump to the conduction band if the conduction gap is small enough. By definition the valence band correspond to the band that would be completely or partially filled at $T=0$ whereas the conduction band is the one right above it. Because of this, in both an insulator and semiconductor, the Fermi energy falls between right at the middle of the gap between the conduction and valence bands, as shown below, <br><br>
                    <center>  <img src="{% static "img/fermi_cond_gap.png" %}" width="500"></center><br><br>
                    By asumming a constant density of particle, the ratio of excited electrons at $T>0$ and total number of  electrons in the valence band, is easy to compute,
                    $$\boxed{ {N_{exc}\over N_{val}}={k_B T\over \Delta E_v}e^{-E_{\rm gap}\over2 k_B T}\,,} $$
                    where $ \Delta E_v$ is the width of the valence band and $E_{\rm gap}$ is the gap width. This formula provide us with a very good quantitative estimate of the difference between a semiconductor and an insulator.  Considering a typical $5$ eV band gap for an insulator, the exponential factor at room temperature is about $10^{-42}$, i.e, in practice, a zero fractio of electrons will cross to the conduction band at room temperature. On the other hand, for a semiconductor with a typical gap of size 1 ev, the exponential factor is roughly $10^{-8}$, 30 order of magnitude higher by just a 4 eV of gap difference!
                    <h3>Semiconductor Theory</h3>
                    In what follows we're going to have a very high level, birds eye view discussion, of the intrisic and artificial materials responsible for the electronic revolution. <br><br>
                    As important as free electrons, are holes in the physics of semiconductors. Roughly speaking a hole is the empty state left in the valence band by an excited electron crossing the conduction gap.<br><br>
                    <center>  <img src="{% static "img/hole.png" %}" width="400"></center><br><br>
                    Effectively holes behave as positive charge particles, and are equally free to move inside the sea of electrons surrounding them, as the electron in the conduction band is free to move around the sea of open spaces. Notice that at zero temperature a semiconductor is nothing but an insulator,  with a full valence band and an empty  conduction band.  But once thermal fluctuations are present, not only some electrons are able to move freely in the conduction band but holes are able to move freely in the valence band, which is a striking distinction between usual conductors, where the valence and conduction band overlap and there is not an actual distinction between them.<br><br>
                    An important property of holes is that they behave in some ways opposite as electrons.  While for an electron the lowest energy states are in the bottom of the band, for a hole, the lower energy configurations are at the top of the  band,  which can be intuited from the fact that is easier for an electron in the upper region of the band to escape than it is for one in the bottom.  In a way, holes behave like bubbles of air in water and they will try to climb up to the surface and excape, as electrons in the upper bands will tend to fall off. Finally, it is important to note that conduction electrons and holes will come in pairs.
                    <h3>Semiconductor Devices</h3>
                    So far we have discussed intrinsic semiconductors, in other words, those  created by nature like Silicon or Germanium, which sits right below Carbon. We can however, modify them to create new materials and new devices by adding impurities.<br><br> 
                    <b>Doping</b> of materials has a different meaning than in sports, (like the tour of france), even thought it share s some similarities.  We can discuss two types of doping <b>n-type</b>  and <b>p-type</b>  which is stand for negative and positive, respectively. <br><br>
                    On an <b>n-type</b>, we want to add an additional electron per every $10^5$ atoms to the valence band, by plugging a small fraction of atoms with similar characteristics as semiconductors, but one additional electron, like phosphorus or arsenic, which stand at the right hand side in the periodic table from the semiconductors mentioned above. The valence band in an instrinsic semiconductor is completely full, so each extra electron has no room to stay and effectively will seat on top of the valence band and below the conduction band, in a newly created state known as a <b>donor state</b>, which is typically  0.05 electron volts below of the conduction band.
                    <br><br>
                    <center>  <img src="{% static "img/ntype.png" %}" width="600"></center><br><br>
                    Accordingly, it would be fairly easy to excite electrons from a donor state to the conduction band.  However, it's important to notice that due to the sparsity of donors, they wont form a band, and even though a hole is left behind an excited donor, this hole cannot move because is stuck to its place, unlike the electron being excited from the donor band to the conduction band, which is free to move inside an actual band or the conduction band. All in all, in a n-type semiconductor, there are far more free negative charge carriers than electron hole pairs.<br><br>
                    Similarly  <b>p-type</b> semiconductors add a similar element bit with one less electron in the valence shell than those in the intrinsic semiconductor, such as Aluminum or Gallium, which seats to the left hand side in the periodic table to the intrinsic semiconductors mentioned above. p-type impurities create holes in new states inside the conductivity gap, there are known as <b>acceptor states</b>, which can take elctrons from the valance band, produccing effectively a surpplus of holes moving in the valence band, or positive charge carriers.
                    <h3>The diode</h3>
                    In short,  a diode  is an electronic device that allows current flow in only one direction. This is achieve by joining an n-type to a p-type semiconductor. The joining area is known as a <b>p-n junction</b>. If a apply a potential in the forward direction is applied, free holes in the p-type are occupied by free electrons in the conduction band, and flow in one direction occurs by the <b>recombination</b> at the junction. By applying an opposite potential the inverse behavior occurs. Electrons and holes  move away from the junction.  This is due to the difference in potential energy in the two regions of the junction as charm in the picture below<br><br>
                    Electrons falling from the conduction band to fill the holes in the valence band release energy by crossing the gap which can go to heat or can produce light. This is the technique used to to produce a light-emitting diode.                    <center>  <img src="{% static "img/diode.png" %}" width="600"></center><br><br>                    
                    <!-- <a href="https://www.thephysicsaviary.com/Physics/Programs/Labs/MaxwellDistribution/" target="_blank">here.</a>
                    -->     <br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
