{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Atoms_9</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }

     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/mendelev.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
		    <br><br><br><br>
                        <h1  style="color:blue;" >Atoms </h1>
                        <hr class="small"  style="color:blue;">
                        <h2 style="color:blue;" >Multielectron Atoms and the Periodic Table</h2>
                        <h3  style="color:blue;">PHYS-221 April 15 / 2024 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="post-preview">
		
		                     		  <h2>Learning Objectives</h2>
						  <ol>
						    <li>Learn Quantum Mechanics Description of the Periodic Table.</li>
		   
						  </ol>
						  <br><br>
						  <b>Fill in the blanks</b>:<br>
						  Integer-spin particles are called _____. <br><br>
						  Half-integer-spin particles are called _______. <br><br>
                    <b>Pauli Exclusion Principle</b><br><br>
                   
                     No two indistinguishable fermions may occupy the same individual-particle state in a isolated system.<br>
                   
                    <br>
		    Notice that the exclusion principle <b>does not apply to bosons</b>.
                    <hr>

		    <br>
		    Pauli exclusion principle, make our existence possible. If we didn't have the Exclusion Principle to prevent multiple fermions from having the same quantum state, our Universe would be extremely different. Every atom would have almost identical properties to hydrogen, making the possible structures we could form extremely simplistic. <br><br>
                    <h2>The quantum mechanical description of the periodic table</h2>
                    Unfortunately in general, we don't have analytical close-form solutions for the SE beyond the hydrogen atom (or close relatives), and we need to rely on numerical and approximation methods. Fortunately, many of the quantum mechanical features we have found in our study of the hydrogen atom are also found on the remaining elements of the periodic table.<br> Most importantly, each individual electron state in an atom, is still described by the quantum numbers $(n,\ell,m, s, m_s)$. <br>
		    The structure of all the atoms we found in nature, is explained for the most part by <b>Pauli's exclusion principle</b>: Not two electrons in an atom can have the same all four quantum numbers  $(n,\ell,m, s, m_s)$.
		    <br>
		    Let us recall the spectroscopic notation <br><br>
<style>
table, th, td {
  border: 2px solid black;
}
</style>		    
<table>
  <tr>
    <td>Letter &nbsp;</td>
    <td>&nbsp; s &nbsp;</td> <td>&nbsp; p &nbsp;</td> <td>&nbsp; d &nbsp; </td> <td> &nbsp; f &nbsp;  </td> <td> &nbsp; g &nbsp;</td> <td>&nbsp;  h &nbsp;</td>
  </tr>
  <tr>
    <td>Value $\ell$&nbsp;</td>
        <td>&nbsp; 0 &nbsp;</td> <td>&nbsp; 1 &nbsp;</td> <td>&nbsp; 2 &nbsp; </td> <td> &nbsp; 3 &nbsp;  </td> <td> &nbsp; 4 &nbsp;   </td> <td>&nbsp;  5 &nbsp;  </td>
  </tr>
</table>
		    <br><br><br>
		    <hr>
		    What is the maximun number of  electrons that can be found at subshell $p$<br>
	<ol  style="line-height:300%" type="A">
		   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <!-- longer -->
		      <li> 2 </li>
		      
		      <li> 4 </li>
		      
		      <li> 6 </li>
		      <li> 8 </li>
		      <li> 10 </li>
		      </ol>
<br><br><br>
<hr>
        We refer to electrons with a given value of n as being in the $n$th <b> shell</b> and the subset with a given value of $\ell$ as being in the $n\ell$-<b>subshell</b>.<br> Additionally, we denote the number of electrons occupying a given subshell by a superscript, $n\ell^k$, for example: $2 s^2 2 p^3=$ two electrons in subshell $2s$ plus three in subshell $2p$. 
In general, the maximun number of allowed electrons in a subshell is equal to $2(2\ell+1)$ and the maximum number in a shell is $2n^2$.
   <br><br><br>
		    <hr>
The atomic number is defined as the number of protons of the given element. What is the atomic number of the atom  whose electron configuration is $1s^22s^22p^4$ <br><br>
	<ol  style="line-height:300%" type="A">
		   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <!-- longer -->
		      <li> 2 </li>
		      
		      <li> 4 </li>
		      
		      <li> 6 </li>
		      <li> 8 </li>
		      <li> 10 </li>
		      </ol>
<br><br><br>
<hr>
 <br><br><br>
		    <hr>
Consider again an atom whit an electron configuration $1s^22s^22p^4$. Roughly, how much does it weight (in mass of the proton units)?  <br><br>

	<ol  style="line-height:300%" type="A">
		   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <!-- longer -->
		      <li> 4 </li>
		      
		      <li> 6 </li>
		      
		      <li> 8 </li>
		      <li> 16 </li>
		      <li> 32 </li>
		      </ol>
<br><br>
<hr>


 An important property exhibited by numerical solutions, is that as electrons fill states in an atom, they do so according to the lowest value of $n+\ell$, as shown in the picture below:<br><br>
                    <center>   <img src="{% static "img/sub_ordering0.png" %}" width="800"></center><br><br>
                    <center>   <img src="{% static "img/ordering20.png" %}" width="800"></center><br>
                    <center>   <img src="{% static "img/ordering3.png" %}" width="450"></center><br>
<p  style="color:red;"> Red arrows=constant $n+\ell$</p>

                         
                    <h3>The Periodic Table</h3>
                    With all this tools, we are ready to understand the ordering of the periodic table,<br><br>
                    <center>   <img src="{% static "img/periodic_table.png" %}" width="800"></center><br><br>
                    <!-- It would be hard to see on the screen the whole table, so lets focus on the first two columns and two rows first, -->
                    <!-- <center>   <img src="{% static "img/periodic_table_slice.png" %}" width="400"> <img src="{% static "img/periodic_table_slice2.png" %}" width="500"></center><br><br> -->
                    
		    Let's better look a high resolution online version of the <a href="https://upload.wikimedia.org/wikipedia/commons/d/df/Periodic_Table_-_Atomic_Properties_of_the_Elements.png">Periodic Table</a>

		    <br><br>
		    Some final nomenclature and elements properties:
		    <ol>
		      <li>
  <b>Valence electrons:</b> Are the electrons in the outermost shell
		      </li>
		      <li>
			<b> Noble gas: </b> The noble gases have full valence electron shells, or outermost shell is completely filled.
		      </li>
		      <li><b>Alkali Metals: </b> Almost empty valence band. Only one electron in it's $s-$subshell. </li></ol>	 
		    <h3>Atomic Spectra</h3>
		    Same as for the Hydrogen, atoms emit light when electrons transition between energy levels. In order to produce such transition we need to excite the atom above the ground state given by its electronic configuration. <br><br>
		    However, some selection rule need to be obeyed for the transition to be allowed $\Delta\ell=\pm 1$. <br>
		    The emission spectra is akin of fingerprints for each element, and is widely used for element identification.<br>
		     <center>   <img src="{% static "img/emission.png" %}" width="800"></center><br><br>
		    <h3>X-ray Atom-Fingerprinting</h3>
                    We have seen during our discussion of the Hydrogen atom, the emission and absorption of certain frecuencies of light only, characterized all different elements. In ground-state atoms, (non-excited levels),  all lowest energy states are filled and the only transitions occurring  are due to valence electrons moving within the highest energy levels. However, something else can happen. An acelerated free electron can  hit and knock out an electron on deep inner shell, creating a hole that is quickly fill by a weak tight electron in the upper levels. This kind of transitions produce X-rays that are characteristic of the particular element, and are also used as fingerprints for elements. Also we can use this to observe X-ray in visible light by atomic flourecense. That's  one of the reasons we want to look at the space in the X-ray spectrum. Let's estimate the wavelength of one such process.<br><br>
		                        Lets recall the energy levels for a Hydrogen atom
                    $$E_n=-{m(e^2)^2\over2 (4\pi\epsilon_0)^2\hbar}{1\over n^2}={-13.6\, eV\over n^2}. $$ Therefore, if the nucleus now has $q=Z\,e$ and neglecting interactions between the electrons, the allowed energy levels can be approximated as,

                    $$\boxed{E_n=-{m(Ze\times e)^2\over2 (4\pi\epsilon_0)^2\hbar}{1\over n^2}={-13.6\, eV}{Z^2\over n^2}} $$
                    <hr>
                    We want to estimate the wavelength of a photon emmited by an electron transitioning from $n=2$ to $n=1$ in a neodymium (Z=60 atom). 
                    Let's approximate an atom with atomic number $Z$, by an hidrogen atom with a nucleus of size $Z$ (known as an Hydrogen-like atom). What are the corresponding energy levels?.<br>

Aditionally, we want to account for the other electrons by estimating that before the transition the effective charge the electron feels is $Z=55$ due to screening from its lower orbital fellows, whereas it feels $Z=60$ after transitioning to the lower level. <br>
                    The energy emmited, is equal to the energy release by the electron falling from $n=2$ to $n=1$:
                    $$h\,f={hc\over \lambda}=-13.6\,eV\left( {55^2\over 2^2}-{60^2\over 1^2}\right) =3.8\times 10^4\, eV$$ or,
                    $\lambda\sim30 $ pm. (X-rays go from $10$ pm to $10$ nm.) The experimental value is around the same. 

                    <hr>

			<br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
