{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Atoms_7</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }

     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/hydrogen-atom.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Atoms </h1>
                        <hr class="small">
                        <h2>Spin </h2>
                        <h3>PHYS-221 April 10 / 2024 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="post-preview">
		
		                     		  <h2>Learning Objectives</h2>
						  <ol>
						    <li>Refresher: Magnetic Dipole Moment.</li>
		    <li>Learn what is Quantum Spin. </li>
		  </ol>

		                     
                    <h2>Experimental Evidence of Angular Momentum Quantization</h2>
		    The full quantum treatment of the hydrogen atom, led us to unavoidably consider the idea of angular momentum quatization. So now we will look into the experiment confirming this claim.<br>
		    Before moving into that, we need to remember few basic facts about rotating charge particles.
                    <br><br>
                    <!-- <a href="https://en.wikipedia.org/wiki/Laguerre_polynomials">associated Laguerre equation</a>, which defined the associated Laguerre polynomials.<br><br>
                         <br>
                         <center>   <img src="{% static "img/spherical_harm.png" %}" width="800"></center><br> -->
                    <h3>Angular momentum and magnetic dipole</h3>
                    Lets again imagine an electron orbiting over a closed circular trajectory.
		    Given a loop of electrical current $I$ enclosing an area $A$, the expression describing the magnetic dipole moment is given by,

		    	       $$\mu= I A\,.$$
		      
Assuming the electron is orbiting across a circular loop of radius $r$ at speed $v$. How much time does this particle takes to complete a single orbit? (Remeber, $v={\rm distance}/t_{orbit}$)
				  	<ol  style="line-height:300%" type="A">
		   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <!-- longer -->
		    <li> $t_{orbit}={\pi r^2\over v}$</li>
		   <li> $t_{orbit}={2\pi r\over v}$</li>
		    <li> $t_{orbit}={ r\over v}$</li>

		 <li> None of the above </li>
				</ol>
  		    <br><br>
		    Let us also recall that a current produce by a single electron orbiting a circular loop corresponds to $$I={\rm charge}/t_{orbit}={-e\over t_{orbit}}\,.$$ hence the magnetic dipole moment generated by such current, will be:
		    $$\mu= I A={-e v\over 2\pi r}\pi r^2={-e v\over 2} r\,.$$
		    Finally, recalling the definition of angular momentum $\vec{L} = \vec{r}\times\vec{p}\,,$ we can relate dipole magnetic moment to angular momenta by,
				    		   
			<ol  style="line-height:300%" type="A">
		   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <!-- longer -->
		    <li> $\mu={-e\over 2 m_{e}}L\,.$</li>
		   <li> $\mu={-e\over 2 \pi r}L\,.$</li>
		   		   <li> $\mu={-e\over 2 p}L\,.$</li>
		   
		 <li> None of the above </li>
				</ol>

			<br><br>
		
			It should be actually a vectorial relation, $$\vec{\mu}=-{e\over 2 m_e}\vec{ L}.$$ 
<br>
When a magnetic dipole moment experiences an external magnetic field, it precess due to torque $\vec{\mu}\times \vec{B}$. Such direction is therefore special.    
<br>
<br>
<center>   <img src="{% static "img/precess.gif" %}" width="450"></center><br>
when it does, the projection of $\mu$ over the direction of $B$, namely $\mu_z$ is constant.<br>
<br>
We can then measure the force felt by a rotating charged particle under the influence of a magnetic field $ U=-\vec{\mu}\cdot\vec{B}\,,$
$$\vec{F}=-\vec{\nabla} U=\vec{\nabla}(\vec{\mu}\cdot\vec{B})\,.$$<br><br>
We now know that $\vec{\mu}$ is related to the angular momenta of the orbiting charged particle. Therefore measuring the force produced by a magnetic field acting on it, will allow us to measure angular momenta, and henceforth to test the prediction on angular momentum quantization made by the Schrodinger solutions to the Hydrogen atom.
<hr>
<!-- Taking $\vec{B}=\vec{B}(z)$, what are the non zero components of $\vec{F}$? -->
<!-- <br> -->
		   
<!-- 			<ol  style="line-height:300%" type="A"> -->
<!-- 		   <img src="{% static "img/iclicker.png" %}" width="100"> <br> -->
<!-- 		 <\!-- longer -\-> -->
<!-- 		      <li> $\vec{F}_x$ and $\vec{F}_y$. </li> -->
		      
<!-- 		      <li> $\vec{F}_x$. </li> -->
		      
<!-- 		      <li> $\vec{F}_y$ </li> -->

<!-- 		      <li>$\vec{F}_z$ </li> -->
<!-- 		      </ol> -->
<!-- 			<hr> -->
<!-- 			<br><br> -->
		
                    <h3>The Stern-Gerlach Experiment</h3>
                   
                    <center>   <img src="{% static "img/stern_gerl0.png" %}" width="450"></center>
                    <a href="https://en.wikipedia.org/wiki/Stern–Gerlach_experiment">Stern-Gerlach  experiment.</a><br><br>
			        <center>   <img src="{% static "img/SternBField.png" %}" width="300"></center><br><br>
By using the relation between magnetic dipole moment and angular momenta, we should see a quantization of force by passing atoms through a magnetic field. For the particular $B-$configuration shown above, the force is given by,
$$\vec{F}=\mu_z{\partial B_z\over \partial z}\hat{z}=\left(-\frac{e}{2m_e}L_z\right)\frac{\partial B_z}{\partial z}\hat{z}\,. $$
				According to the momentum quantization property found from the solutions to the wave function of the Hydrogen atom, $$L_z=m_{\ell}\hbar\,,\qquad -\ell\leq m_{\ell}\leq \ell\,.$$ <br>
				Say we prepare an bunch of Hydrogen atoms at the state $n=2$, $\ell =1$, and send them (one by one) through an Stern-Gerlach setup. What we should expect to observe on the screen?
				
			<ol  style="line-height:300%" type="A">
		   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <!-- longer -->
				 <li>A continuous vertical line.  </li>
		      
		      <li> One fat dot at the middle. </li>
		      
		      <li> Two fat dots center around the middle screen.  </li>

		      <li>  Three fat dots center around the middle screen.  </li> </li>

		      <li> None of the above </li>
		      </ol>
<br><br>		     
                    The experiment confirm sucesfully the quantization of angular momenta in atoms, seeing discrete splitings along the z-axis of the screen for $\ell=1,2,\cdots$,
$$\vec{F}=-{e\over 2 m_e}m_{\ell}\,\hbar\, {\partial B_z\over \partial z} \hat{z},\qquad -\ell\leq m_{\ell}\leq \ell\,, $$ in particular for $\ell =1$:
                    <center>   <img src="{% static "img/SternGerlachSketch.png" %}" width="550"></center><br>
                  But the experiment found an incredible surprise.<br><br>
		    <hr>
		    If the usual atomic rules for the quantum numbers $(n,\ell,m)$ hold, how many allowable $m$ states are there for an state at $\ell=1/2$ object? (Spoiler alert: assuming it was allowed by nature) <br><br>
		     
			<ol  style="line-height:300%" type="A">
		   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <!-- longer -->
		      
		      <li> 1 </li>
		      
		      <li> 2 </li>

		      <li> 3 </li>

		      <li> None of the above </li>
		      </ol>
		      <hr>
		      <br><br>
                    <h3>Spin</h3>
                    It turns out that when the Stern-Gerlach experiment is perform with Hydrogen at the ground state, or $\ell=0$, we know that the only possible value of the $m_{\ell}=0$, and we should see a single small  cloud (fat dot) right in the middle of the screen. But the experiment produces something like the second box below: 
                    <center>   <img src="{% static "img/espin0.png" %}" width="400"></center><br>
                    It was an indication of the intrinsic magnetic dipole moment of the electron! or the  <b>Spin</b>, which satsifies the following,
                    <ul>
                        <li>Similarly as orbital angular momenta, spin is quantized in terms of a discrete, but not neccesarilly integer $s$ by can be semi-integer,
                            $$ \boxed{|S|=\hbar\sqrt{s(s+1)}}.$$ Also, similarly to $L_z$, we have
                            $$ \boxed{S_z=\hbar m_s\,\quad m_{s}= -s,-s+1,\cdots,s\,,\qquad{\rm or}\quad -s\leq m_s\leq s}\,. $$
                       </li>

                        <li>Unlike $\ell$, $s$ is not a quantum number that can be changed by say, excite an state, but is number that depends on the fundamental particle we are considering. An electron for example has $s=1/2$, whereas a photon has $s=1$. </li>
                        <li>The intrinsic magnetic dipole $\mu_S=g{q\over 2m}S$, where $g$ is known as the <b>gyromagnetic radius</b> </li>
                    </ul>
                    Returning to the Stern-Gerlach experiment, what they really observed at $\ell=0$ was,
                    $$\vec{F}=-{e\over m_e}m_{s}\,\hbar\, \partial_z B_z \hat{z},\qquad-{1\over2} \leq m_{s}\leq {1\over 2}\,,$$
                    since for the electron $s=1/2$, then $m_s=\pm {1\over 2}$<br><br>
<iframe width="660" height="415" src="https://www.youtube.com/embed/lYl6uLNT9vc?si=HcC3GdLa5dJoocbZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <h3>Spin and Wave funtions</h3>
                    All in all, we have just found that in our description of the wave function for an electron in an hyrogen atom, we are missing one quantum number, i.e, each state should be labeled by the quantum numbers $(n,\ell,m_{\ell},m_{s})$. Fortunately, for the case of the electron, only two values of $m_s$ are allowed, and we can just split our wave functions as,
                    $$
                    \boxed{ \psi_{n,\ell,m_{\ell}}^{+}\qquad {\rm spin\,\,up}\,\qquad                    \psi_{n,\ell,m_{\ell}}^{-}\qquad {\rm spin\,\,down}}
                    $$
		                
		    <h3>Degeneracy and Spin</h3>
		    Given that the quantum numbers of a given wave function for an electron in a Hydrogen atom are given by,
		    $$ (n,\ell,m_{\ell},m_{s})\,,\quad{\rm with}\quad 0\leq\ell\leq n-1\,,\quad -\ell\leq m_{\ell}\leq\ell\,,\quad -{1\over2} \leq m_{s}\leq {1\over 2}\,, $$
		    What is the degree of degeneracy of the energy level  $n=2$?
		    
			<ol  style="line-height:300%" type="A">
		   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <!-- longer -->
		      
		      <li> 4 </li>
		      
		      <li> 6 </li>

		      <li> 8 </li>

		      <li> None of the above </li>
		      </ol>
		      <hr>
		      <br><br>
                
		    What is the degree of degeneracy of the energy level  $n$?
		    
			<ol  style="line-height:300%" type="A">
		   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <!-- longer -->
		      
		      <li> $n^2$ </li>
		      
		      <li> $2n^2$ </li>

		      <li> $4n^2$ </li>

		      <li> None of the above </li>
		      </ol>
		      <hr>
		      <br><br>
                      <h3>Next: The exclusion principle</h3>
			<br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
