{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quantum Mechanics 10</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }
     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/quantum-corral.jpg'%})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Quantum Mechanics</h1>
                        <hr class="small">
                        <span class="subheading">=== </span>
                        <span class="subheading">=== </span>
                        <h2></h2>
                        <h3>PHYS-221 March 18 / 2024 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">

		                     		  <h2>Learning Objectives</h2>
		  <ol>		    
		    <li>Learn what it means to be an unbound system.  </li>
		    		    <li>Learn how to deal with the Schroedinger equation for a potential step. </li>
		    <li>Learn how to deal with the Schroedinger equation for a potential barrier. </li>
		 
		  </ol><br><br>
				  
	 
		    <h2>Refresher: Typical Scheme to Find the wavefunction</h2>
		    <ol>
		      <li>Divide the space in suitable regions, if possible.</li>
		      <li> Find the solutions to the Schrodinger equation in each of those regions.</li>
		      <li>Apply the proper boundary conditions to the solutions on each region.</li>
		      <li>Apply the proper boundary conditions to the derivative of the solutions on each region.</li>
		      <li>Solve the conditions imposed by the boundary conditions on each region.</li>
		     		    </ol>
		    
                    <br><br><br>


                        <h2>Unbounded States</h2>
			So far we have seen solutions to the Schroedinger solutions for bound states. Now we move to the complementary case of <b>unbounded</b> systems.<br><br>
			Before moving into such system, let us consider the following equation (for the 4th time!).
		    <!-- 	                    \begin{equation} -->
                    <!-- -{\hbar^2\over 2m} {d^2\psi(x)\over dx^2}=E\psi(x)\quad{\rm or}\quad\, {d^2\psi(x)\over dx^2}=-k^2\psi(x) -->
                    <!-- \end{equation} -->
                    <!-- with $k=\sqrt{2mE\over \hbar^2}$. What solution whould it be?<br><br><br> -->
                    <!-- \begin{equation} -->
                    <!-- \psi(x)=A~e^{i(kx)}=A~cos(kx)+iA~sin(kx) -->
                    <!--                   \end{equation} -->
			                    \begin{equation}
                    {d^2\psi(x)\over dx^2}=-k^2\psi(x)
                    \end{equation}
                     What of the following functions is a solution? <br>                   
                   
		 		    <br>	 <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">

  <li> Yes	  </li>
		   <li> $ \psi(x)=A~e^{\pm (kx)}$	  </li>
		   <li> $ \psi(x)=A~e^{\pm i(kx)}$	  </li>
  <li>  $\psi(x)=A~\sin(x)$	  </li>
  <li> None of the above.</li>
 
		    </ol>

		 <br><br>
Now let's try again, consider the following equation,			                    \begin{equation}
                    {d^2\psi(x)\over dx^2}=k^2\psi(x)
                    \end{equation}
                     What of the following functions is a solution? <br>                   
                   
		 		    <br>	 <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">

  <li> Yes	  </li>
		   <li> $ \psi(x)=A~e^{\pm (kx)}$	  </li>
		   <li> $ \psi(x)=A~e^{\pm i(kx)}$	  </li>
  <li>  $\psi(x)=A~\sin(x)$	  </li>
  <li> None of the above.</li>
 
		    </ol>

		 <br><br>

		 <h2>The Potential Step</h2>
		 Consider the following potential energy,<br><br>
                    <center>  <img src="{% static "img/step_barrier.png" %}" width="465"></center><br><br>
		    Easiest way to picture it, is to think of an incoming wave from the left towards the step, striking the step to then bounce back and/or get transmitted to the region inside the step, pretty much as light striking a glass. It is useful to remember:<br><br>
		    
				     Consider the wave function $\Psi(x,t)=A\,e^{i(k x-\omega t)}$. The wave is traveling... 														  
				<ol  style="line-height:300%" type="A">
		 <br>   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		     <!-- longer -->
		     <li> ... to the right (positive $x-$direction) </li>
		     <li> ... to the left  (negative $x-$direction) </li>
		     <li> ...stationary</li>
		     <li> I don't know </li>
		  </ol>
				<br><br>
				Since we are considering an stationary problem, where all wave functions solutions will have the same temporal dependence $e^{-i\omega t}$, our main concern is the spatial dependence, $$ e^{i k x}\,\quad{\rm Right\,mover}$$  $$ e^{-i k x }\,\quad{\rm Left\,mover}\,.$$
				With that we can start looking into the time-independent Schrodinger equation. Let us start considering region $x<0$, the one to the left of the step, i.e $u(x)=0$. 
		    	                    \begin{equation}
                    {d^2\psi(x)\over dx^2}=-k^2\psi(x)
				\end{equation}
				 with $k=\sqrt{2mE\over \hbar^2}$.
				As we have seen, solutions are $ \psi(x)=A~e^{\pm i(kx)}\,.$ Or more correctly:
																		      $$ \psi(x)=A~e^{+i(kx)}+B~e^{- i(kx)}\,.$$<br><br><hr>
																		      
				For the region to the right of the step $x > 0$, or $u(x)=U_0$, we have:
                \begin{equation}
                    {d^2\psi(x)\over dx^2}=-{2 m (E- U_0)\over \hbar^2}=-k'^2\psi(x)
				\end{equation}
				 with $k'=\sqrt{2m(E-U_0)\over \hbar^2}$.
			
				 Two possibilities arises:<br><br>
				$E > U_0$ and 	$E < U_0$.<br><br>
						     Consider the case $E < U_0$, what of the following is correct?
						     					  
				<ol  style="line-height:300%" type="A">
		 <br>   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		     <!-- longer -->
		     <li> $k'^2>0 $ </li>
		     <li> $k'^2 <0 $ </li>
		     <li> $k'^2=0 $</li>
		     <li> I don't know </li>
				</ol>
				
				<br><br>
				Therefore, if $E > U_0$, the solutions are as before but with a different constant $k$:
			 $$ \psi(x)=A~e^{+i k' x}+B~e^{- i k' x}\,.$$<br><br>

whereas for the case $E < U_0$, the solutions are bit different:
			  $$ \psi(x)=C~e^{+k' x}+D~e^{-k' x}\,.$$<br><br>
							  
			  In order to find the undetermined constant we need to apply boundary conditions. The boundary conditions at $\,x=\pm\infty\,$ for the potential step are the simplest. Is easier to think first about region $x>0$. There, the wave is transmitted, what does that tell you about $A, B, C, D$?<br><br>
			   <b>Think-Pair-Share</b><br>
		<ol  style="line-height:300%" type="A">
		 <br>   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		     <!-- longer -->
		     <li>  $A=0, B= 0, C=0, D=0$ </li>
		 <li> $A=0, B\neq 0, C=0, D\neq 0$ </li>
		  <li> $A\neq 0, B=0, C\neq 0, D= 0$ </li>
		     <li> $A\neq 0, B= 0, C=0, D\neq 0$ </li>
		     <li> $A= 0, B\neq 0, C\neq 0, D= 0$ </li>
				</ol>
				
				<br><br>
				Whereas for region $x<0$, what can we say about the constants  $A, B$?
		<ol  style="line-height:300%" type="A">
		 <br>   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		     <!-- longer -->
		     <li>  $A=0, B= 0$ </li>
		 <li> $A=0, B\neq 0$ </li>
		  <li> $A\neq 0, B=0$ </li>
		 <li> $A\neq 0, B\neq 0$ </li>
				</ol>
							  
		<hr>
		All in all the final spatial part of the wave function looks like:<br><br>
		If  $E > U_0$,
		$$ \psi(x)_{x<0}=A~e^{+i k x}+B~e^{- i k x}\,\quad  \psi(x)_{x>0}=C~e^{+i k' x}
				    \,,$$
<br><br>
		If  $E < U_0$,
		$$ \psi(x)_{x<0}=A~e^{+i k x}+B~e^{- i k x}\,\quad  \psi(x)_{x>0}=C~e^{- k' x}
			 \,,$$ corresponding to:
			 $$\psi(x<0)=\psi_{\rm Incident}+\psi_{\rm Reflected}\,,\quad\psi(x)_{x>0}= \psi_{\rm Transmitted} $$
			 <br><br>
			 The wave function and its derivative must be continuous at the point where the two regions meet. For $\,E>U_0\,$ these conditions are,
  <br>  		 <br>   <img src="{% static "img/matching_step.png" %}" width="600"> <br><br>
  We can use this two equations to eliminate two constants (solve for), say $B$, and $C$:  <!-- (<b>Homework</b>): -->
  $$B={k-k'\over k+k'}A\,\quad{\rm and}\quad C={2k'\over k+k'}A\,.$$
  <br><br>
  We are concerned here with Reflection and Transmission probabilities, first notice,
  $${\rm Prob.\over time}={\rm Prob.\over distance}{\rm distance\over time}=|\psi(x)|^2 v=|\psi(x)|^2{\hbar k\over m}\,.$$<br>
  $$T={\rm Prob.Transmitted\over time}/{\rm Prob.Incident\over time}={|\psi_{\rm Incident}|^2 k_{x>0}\over |\psi_{\rm Transmitted}|^2 k_{x<0}}={|C|^2 k'\over |A|^2 k}$$
																			<br><br>
Equivalently, we define   $$R={\rm Prob.Reflected\over time}/{\rm Prob.Incident\over time}\,,$$ which then equals
																			<ol  style="line-height:300%" type="A">
		 <br>   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		     <!-- longer -->
		     <li>  ${|B|^2 k'\over |A|^2 k}$ </li>
		 <li>  ${|B|^2 \over |A|^2 }$ </li>
		  <li>  ${|B|^2 k\over |A|^2 k'}$ </li>
		 <li> Don't know  </li>
				</ol>
	<br><br>
	Finally, replacing $k'=\sqrt{2m(E-U_0)\over \hbar^2}$ and $k=\sqrt{2mE\over \hbar^2}$, we can write  <!-- <b>Homework</b> '-->
	$$T=4{\sqrt{E(E-U_0)}\over\left( \sqrt{E}+\sqrt{E-U_0}\right)^2}\,,\quad{\rm and}\quad R={\left( \sqrt{E}-\sqrt{E-U_0}\right)^2\over\left( \sqrt{E}+\sqrt{E-U_0}\right)^2} $$
	<!-- <b>Homework: Prove that the sum of R and T equals one</b>  -->

	<br><br><hr>
	If  $E < U_0$ all the steps proceed as in the case $E > U_0$, but now the quantity ${E-U_0}<0$ or $\sqrt{E-U_0}=i\sqrt{U_0-E}$, which lead us to:
	    $$    R={\left( \sqrt{E}-i\sqrt{U_0-E}\right)^2\over\left( \sqrt{E}+i\sqrt{U_0-E}\right)^2}\,, $$
												       which equals,
												       								<ol  style="line-height:300%" type="A">
		 <br>   <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		     <!-- longer -->
		 <li> $ R=e^{\left(2 \sqrt{E}-i\sqrt{U_0-E}\right)}$</li>
		 <li>  $R=1$ </li>
		  <li>  $R = 0$ </li>
		 <li> Dont know  </li>
				</ol>
																				<br><br>
	In turn,
																				$$T=4{i\sqrt{E(U_0-E)}\over\left( \sqrt{E}+i\sqrt{U_0-E}\right)^2}\,,$$ is complex. Is that ok? ______
																				<br><br>

																				Once the particle is reflected, it is completly reflected $R=1$, but if gets transmitted it actually decays exponentially $$ \psi(x)_{x>0}=C~e^{- k' x}\,.$$
							We define the penetration depth to be given by <!-- <b>homework</b> -->
																				$$\delta={1\over k'}={\hbar\over \sqrt{2m(U_0-E)}}\,. $$
																				
		<!-- Show solutions, transmission and reflection probabilities, ask about how to $k$ compares to $k'$, $v$ to $v'$, $E$ to $E'$ all that. -->
		 <h2>Next: Potential Barrier</h2>
                    <br><br><br>


                </div>
            </div>
        </div>
    </div>


</body>

</html>
