{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quantum Mechanics</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }
     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/planck.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Quantum Mechanics</h1>
                        <hr class="small">
                        <span class="subheading">=== </span>
                        <span class="subheading">=== </span>
                        <h2>Experimental Indications  </h2>
                        <h3>PHYS-221 Feb 14 / 2024 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                   		  <h2>Learning Objectives</h2>
		  <ol>		    
		    <li>Learn the Photoelectric Effect and and it's implications for the development of Quantum Mechanics </li>
		    <li>Learn Compton Effect and its implications for quantum mechanics </li>
		  </ol>
                    <!-- <center>   <img src="{% static "img/feynman_quote.png" %}"  width="600"></center>        <br><br> -->
		    <!-- <center>   <img src="{% static "img/Maxwell_diff_form.png" %}"  width="600"></center>        <br><br> -->

		  Lets take a look at the light spectrum <br><br>
 				 <center>   <img src="{% static "img/EM_spectrum.png" %}" width="700"></center>        <br><br>

Considering only the visible spectrum, what of the following is wrong?:				 
	<br>	 		 		        <img src="{% static "img/voting_cards.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>$E(violet) > E(yellow)$  </li>
		   <li>$E(green) <  E(orange)$ </li>
		    <li>$E(yellow) >  E(orange)$ </li>
   <li>$E(violet) > E(red)$ </li>
		
		 </ol>

<br><br>
		 Lets go back to the blackbody.  Replacing $f={c\over \lambda}$ into the spectral energy density, and after some boring algebra (that will go into HW), we get,
		 $${dU\over d\lambda}={8\pi V h c\over e^{hc/\lambda k_b T}-1}{1\over \lambda^5}\,. $$ which is a bit more useful. Notice that $dU/ df$ peaks at certain frequency. Computing the maximum in terms of wavelength, we get,
		 $$ \lambda_{max}T=2.898\times 10^{-3}m\cdot K $$
		 which is known as the <b>Wien's law</b>.
		 <br><br>
Considering that we see sunlight as yellow-ish $\lambda = 570\, nm $, provide an estimated for the
temperature of the Sun:		 
	<br>	 		 		        <img src="{% static "img/voting_cards.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>$T\approx 5000 K $  </li>
		   <li>$T\approx 10^{6}K $ </li>		  
		    <li>$T\approx 10^{6}K $ </li>
		   <li> $T\approx 500 K $ </li>

		 </ol>
		 <br><br>
		 <center>   <img src="{% static "img/spectral_energy_tempt.png" %}" width="700"></center>        <br><br>
		 
                        <!--     Photoelectric Effect and Comptom Effect (among others), Electromagnetic waves exhibit particle behavior, and as such we have associated a name to that particle: <b>The Photon</b>. Such particle is massless and is characterized by a momentum $\boxed{p=h/\lambda}$ and Energy $\boxed{E=h f}$. Such behaviour lead us to the discovery of the <em>Wave-Particle duality</em> of light. -->
                        <!-- </br> -->
                        <!-- Today we are gonna see that this <em>Dual</em> behaviour is not unique of light, but is sort of universal, in the sense that even matter exhibit such strange behavior.</p> -->

<h2>Photoelectric Effect</h2>
In the 1880s, Heinrich Hertz
demonstrated that a light beam directed at the surface of a metal could liberate
electrons. This is called the <b>photoelectric effect</b> —light producing a flow of
electricity—and is depicted in Figure
		</br><br>
		<center>   <img src="{% static "img/photo_electric.png" %}" alt="photo_electric" width="500"></center> <br><br>
		<h3>Classical expectation (pre-quantum mechanics)</h3>
		If light were strictly a wave, we should expect:
		<ul>
		  <li> If light of one wavelength is able to eject electrons, then light of any wavelength should be able to do it.</li>
		    <li>Independent of the wavelength, the rate at
		      which energy arrives (the intensity)—and therefore the rate at which electrons are ejected—could be made arbitrarily large simply by increasing the intensity </li>
		 <li>If the intensity is low, then even though electrons might still be ejected, a measurable time lag should arise. Because a wave is diffuse, considerable time
		   might be needed for enough energy to accumulate in the electron’s vicinity</li>
<li> Finally, at any given frequency, if the intensity is increased,
the departing electrons should be more energetic. A stronger electric field
  should produce a larger acceleration.</li>
<br><br>
Let us take a look at the
 <a style="color: navy;" target="blanck_" href="https://applets.kcvs.ca/photoelectricEffect/PhotoElectric.html">  experimental set-up </a>. <br><br>

		  A typical experimental curve for the photoelectric effect is shown below:
		  		 <center>   <img src="{% static "img/photoelectric_exp.png" %}" width="700"></center>       

				 <br><br>
				 Some observations:<br><br>
				 The electron are bound to the metal by some force, and an amount $\phi$ of energy is required to freed an electron. This energy $\phi$ depends on the material and is know as the <b>work function</b> of the given material.<br><br>  Intensity= energy per unit time per unit area= $Energy/(A t)$ and current <br><br>
				 <center>   <img src="{% static "img/elec_current.png" %}" width="700"></center> <br><br>
				 the electrical current give us a measure of the number of charges.        
				 What are we observing?<br><br>
				 
				 Say we start with a positive potential difference and increase it until we reach the right flat region.  From the following assertions, what do you think is the right interpretation of that flat region?
				 
	<br>	 		 		        <img src="{% static "img/voting_cards.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>Intensity of light is larger towards the right of the plot</li>
		   <li>Area with moving electrons is increasing as we move to the right </li>		  
		    <li>Number of electrons reaching the right plate stop increasing as me move to the right </li>
		   <li> I don't know</li>

		 </ol>
		 <br><br><br>
		 The flat region indicates that as we increase the potential from negative to positive, the number of electrons quickly reach a maximum and does not change from that.<br><br>
		 Now lets think about the left end of the curve. First lets us think on the meaning of $\Delta V$: an electron that leaves the surface has kinetic energy $E_K$. It gained this energy from the incident electromagnetic wave. In the space between the electrodes, a photoelectron moves in the electric potential and its energy changes by the amount $-e\,\Delta V$. The stopped voltage $\Delta V_s$ is defined as exactly the value at which not more current, i.e, no more electrons reach the right plate, so in other words, even the electron with the largest kinetic energy is stopped from reaching the right plate, or:
		 $$E_{K_{max}}=e\,\Delta V_s$$ 

		 What do you think is a right interpretation for the left end of the experimental plot?
		 <br>
		 	<br>	 		 		        <img src="{% static "img/voting_cards.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>Higher light intensity implies higher (more negative) stopping potential?</li>
		   <li>Stopping potential is independent of the intensity of light </li>		  
		    <li>Stopping does not depend on current. </li>
		   <li> I don't know</li>

		 </ol>
		 <br><br>
		 We can see where the classical theory is at odds with the experimental results. In classical theory,
the photoelectron absorbs electromagnetic energy in a continuous way; this means that when the incident
radiation has a high intensity, the kinetic energy is expected to be high. But the experiment shows that the
		 maximum kinetic energy of photoelectrons is independent of the light intensity.<br><br>
		 <h3>Cut -off frequency</h3>
		 It was additionally observed, that low-intensity light of $500 nm$ wavelength ejects electrons from sodium, with no time lag, while light of $600 nm$
wavelength cannot, even at many times the intensity, but according to the classical
description, the kinetic energy of photoelectrons should not depend on the frequency of incident radiation at
		 all, and there should be no cut-off frequency.<br><br>
		 <h2>What the photoelectric effect is telling us</h2>
		 	 <center>   <img src="{% static "img/photoelectric_exp.png" %}" width="700"></center>       <br>
		 <ul>
		   <li>Stopping voltage does not depend on the intensity of light &#x2192; kinetic energy is independent of light intensity.</li>
		   <li>For large positive electric potential between the plates and a given light intensity (i.e force pushing electron from the left plate towards the right plate), the current reach a maximum constant value  &#x2192; number of photoelectrons reach a maximum constant number.</li>
		   <li> There exist a cut-off frequency below which none photoelectrons are observed.</li>
		     
		 </ul>

		 This results leads to Einstein in 1905 to consider seriously Planck's hypothesis, that the energy of light come in integer packets of the frequency $E=n\,h\,f$ (depends on it's frequency in a quantized fashion). In Einstein's approach, a beam of monochromatic light of frequency $f$ is made of particles, called <b>photons</b>. A <b> photon</b> is a particle of light and carries an energy $$E_f=h\, f\,.$$
		 In Einstein's interpretation, each photon gives away all its energy to only one electron on the metal surface, because only integer numbers of $h\,f$ are available, so the photon can't give away just a fraction. This explains the frequency cut-off, if an photon has energy $E_f=h\,f<\phi $, then there
is simply insufficient energy in any given photon to free an electron. So none are
freed, no matter how high the intensity. However, if the
																																						 frequency is high enough, such that $h\,f>\phi$, then electrons can be ejected,<br><br>
		   then the cut-off frequency will be given by the condition
 	<br>	 		 		        <img src="{% static "img/voting_cards.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li> $f_c={\phi\over h}$</li>
		   <li> $f_c={\phi}$ </li>		  
		    <li>$f_c={ h}$ </li>
		   <li> I don't know</li>

		 </ol><br><br>
		
		    For higher frequencies, energy conservation tell us:
		   $$E_f=E_{K_{max}}+\phi\,,\quad{\rm or}\quad\boxed{ E_{K_{max}}=h\,f-\phi}$$
		   The subscript $max$ refers to the fact that the maximum energy an electron can gain, is all what is left from overcoming $\phi$.

		   <br><br>
		   Einstein’s interpretation of the photoelectric effect explains not only the
observation that a certain minimum frequency is required but also the other
classically unexpected results. If a single photon—<em>a particle of concentrated
energy </em> rather than a diffuse wave—does have enough energy, ejection should
be immediate, with no time lag. Also, the electron’s kinetic energy should
depend only on the energy of the single photon—the frequency—not on how
many strike the metal per unit time (the intensity). In all respects, Einstein’s
explanation agrees with the experimental evidence, and the achievement
earned him the 1921 Nobel Prize in physics.
		 <br><br>
				

				 
		  Let us watch a short video that summarize all,<br><br>
		  <center>		  <iframe id="embed-iframe" allowTransparency="true" allow="encrypted-media *" allowfullscreen height="515" width="560" border="0" scrolling="no" frameborder="0" marginwheight="0" marginwidth="0" src="https://app.jove.com/embed/player?id=11297&access=b71850354d&t=1&s=1&fpv=1"><p>Photoelectric effect</p></iframe></center>
		     <h2>Clicker Photoelectric Effect</h2>
		  <!-- <a href="https://www.youtube.com/watch?v=jjDWzlCHQc4" target="_blank"> -->
		    	  <center>   <img src="{% static "img/clicker_photoe.png" %}" alt="_clicker_photoelectric" width="1200"></center>


			  <h2> The Compton Effect </h2>
			  Around 1920's, Planck's energy quantization hypothesis was getting traction. Right after Einstein used it to explain the Photo-electric effect, Arthur Holly Compton used it to explain the scattering of light off free electrons. <br><br>
			  According to the theory of electromagnetism of  Maxwell, the electron getting hit by the incoming X-ray, will oscillate and radiate a wave of approximately the same frequency and in all directions. <br><br>
			  It was observed that the scattered wave has a significantly longer wavelength and directed in a particular direction. 
			  <br>
			    <br> Let us recall that if the two relativistic formulas $E=\gamma_u\,m\,c^2$ and $p=\gamma_u\,m\,u$ are combined, we get a more universal relation between momentum an energy that can be applied equally to massive and massless particles,
		  $$E^2=p^2c^2+m^2c^4\,.$$
			    for a massless particle, we then have $E=p\,c$<br><br>
			    Compton combine this relativistic expression with Planck's hypothesis to define the momentum of a photon to be
			    $$\boxed{p={E\over c}={h\, f\over c}={h\over \lambda}}\,.$$
			    To experimentally check the validity of such assumption experimentally, Compton observed the interaction between X-rays and free electrons, and consider it as a collision between two particles, a photon and electron.    
			    <br><br>

			    <center>   <img src="{% static "img/compton.png" %}" alt="compton" width="700"></center>

			    <em> TPS</em>. Use Compton's momentum definition for the photon, to derive momentum conservation in the $x-$direction for the collision ilustrated in the figure above. Vote when I indicated.  
	<br>	 		 		        <img src="{% static "img/voting_cards.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>${h\over \lambda}={h\over \lambda'}\cos\theta+\gamma_u m_e u \cos\phi$ </li>
		   <li>${h\over \lambda}={h\over \lambda'}\sin\theta+\gamma_u m_e u \sin\phi$ </li>
		   <li>${h\over \lambda}={h\over \lambda'}\cos\theta-\gamma_u m_e u \cos\phi$ </li>
		    <li>${h\over \lambda}={h\over \lambda'}\sin\theta-\gamma_u m_e u \sin\phi$ </li>
		    <li>I don't know </li>

		 </ol>
		 <br><br><br>
		 Similarly, momentum conservation in the $y-$direction looks like:
		  $$0={h\over \lambda'}\sin\theta-\gamma_u m_e u \sin\phi$$
		 and energy conservation implies
		   $${h\,c\over \lambda}+m_e\,c^2={h\,c\over \lambda'}+\gamma_u m_e\,c^2\,.$$
		 We then use these equations to eliminate variable $u$, which after some algebra lead us to a relation between the wavelenghts of the light before and after the collision,
		 $$\boxed{\lambda'-\lambda={h\over m_e c}(1-cos\theta)}\,.$$
		 Which is known as the <b>Compton effect</b>.<br><br>
		 The difference in wavelength between the incident and scattered photons depends only on the angle of scatter, a discovery that earned Compton the 1927 Nobel Prize. We see also that the scattered photon is always of longer wavelength than the incident. Its energy is always less, which makes sense, for kinetic energy is given to the electron.<br><br>
		 <h2>Pair Production and Antimatter</h2>
		 The blackbody radiation, photoelectric effect and the Compton effect are three important ways in
which electromagnetic radiation interacts as a particle with matter. We now
		 discuss a third. <br><br>
		 In 1932, a revolutionary new particle was discovered. Carl D. Anderson
(Nobel Prize, 1936) was studying the effects of cosmic rays, energetic particles bombarding Earth, when he noticed something behaving like an electron
but of positive charge. It curved the right amount but the “wrong” way in a
		 magnetic field.
<br><br>
			    <center>   <img src="{% static "img/positron.jpg" %}"  width="600"></center>
<br><br>
This positively charged electron was termed the <b>positron</b>. The phenomenon of particle creation by pairs, is known as <b>pair production</b>.<br><br>
The positron is an example of antimatter. Its life is short as it quickly finds an electron to annihilate together: erased, their
entire energy suddenly transformed to two photons. This process is known as <b>pair annihilation</b>.<br><br><br>
		 <h2>Next: Matter Waves</h2>
			  <br><br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
