{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quantum Mechanics</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }
     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/xray_dif.jpeg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Quantum Mechanics</h1>
                        <hr class="small">
                        <span class="subheading">=== </span>
                        <span class="subheading">=== </span>
                        <h2>Matter Waves  </h2>
                        <h3>PHYS-221 Feb 19 / 2024 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                   		  <h2>Learning Objectives</h2>
		  <ol>		    
		    <li>Review of Young-Experiment</li>
		    <li>Learn Wave behaviour of Matter </li>
		  </ol>
                  <b>Fill in the blanks</b>: <br><br>
		  The Photoelectric and Compton effects, provided evidence of light behaving as a p_______. <br>
		  <br>
		  Compton define de momentum of a photon (particle of light) as  given by <br> $h/$(_________)<br><br>
<!-- <h2>Is it a wave or a particle? </h2> -->
		  <!--                         <p>Well, is both, but it depends on how the size of the corresponding wave compares with the size of the "relevant dimensions" of the phenomena at hand. When the wavelenght $\lambda\sim D$ then we will be able to percieve the wave nature. When however $\lambda<< D$ we will perceive it as a particle (c.c. make a drawing) </p> -->
		  We have seen that under certain conditions, light behaves as a collection of particles. In this session we are going to look into the evidence of a complimentary fact: under certain cisrcustances, matter behave as a wave. <br>
		  But how we prove that something is a wave?

                        <h2>Double Slit Experiment</h2>
			<center>   <img src="{% static "img/interference1.png" %}"  width="600"></center>        <br><br>
			<center>   <img src="{% static "img/interference2.png" %}"  width="600"></center>        <br><br>
			                        <p> One easy an classical experiment to distinguish a wave from a particle is the double slit experiment, in which a "beam" is passed through a two small slits of size comparable to $\lambda$. If the "beam" is truly a wave, then one should observe an interference pattern at the screen.</p>

			<center>   <img src="{% static "img/interference3.png" %}"  width="800"></center>        <br><br>
			<center>   <img src="{% static "img/interference4.png" %}"  width="800"></center>        <br><br>
			Let us watch a short video illustrating this phenomena,
			<iframe id="embed-iframe" allowTransparency="true" allow="encrypted-media *" allowfullscreen height="615" width="660" border="0" scrolling="no" frameborder="0" marginwheight="0" marginwidth="0" src="https://app.jove.com/embed/player?id=10424&access=eaf9e4dccc&t=1&s=1&fpv=1"></iframe>
			<center>   <img src="{% static "img/interference5.png" %}"  width="800"></center>        <br><br>
			<center>   <img src="{% static "img/interference6.png" %}"  width="800"></center>        <br><br>
			<center>   <img src="{% static "img/interference7.png" %}"  width="800"></center>        <br><br>


            
                    <p>   From the geometrical problem above, we can see that if an interference pattern is observed, bright (constructive) spots will be located at the screen location:</br></br> $\boxed{H_{bright}={\lambda L\over D}m}$  with  $m\in \mathbb{Z}$.</br></br>
                        Similarly, darks spots will be at,
                        </br></br> $\boxed{H_{dark}={\lambda L\over D}(m+1/2)}$  with  $m\in \mathbb{Z}$.</br></br>
                    </p>
		    If we decreased the distance between slits, what happends to the spacing between peaks?
		    	<br>	 		 		        <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li> Decreases  </li>
		   <li>Stays the same </li>		  
		    <li>Decreases</li>
		
		 </ol>
		 <br><br>

		 Notice that for visible light,  $\lambda$ is of order of nano-meters ($10^{-9}m$), so knowing $\lambda$ allows to measure equally small lengths $D$. Equivalently, in order to have an appreciable spacing between peaks on the screen,<b> we need $D$ to be of the order of $\lambda$.</b>
                        <h2>Bragg Law</h2>
				  <p>
				    
                        In 1927, Davisson & Germer from Bell labs were studying scattering of electrons off a Nickel cristal, and they observe the following pattern on a film placed to detect the scattered electrons,
                        <center>   <img src="{% static "img/electron_inter.jpeg" %}" alt="double_slit" width="500"></center>

                        Which is nothing else but an interference pattern <span style='font-size:30px;'>&#128563;</span>.  What  Davisson & Germer had performed inadvertently, was a sort of double slit experiment using electrons instead of light, but instead of a double slit, they use the crystal structure of Nickel, whose atomic interspace is in the order of nm. <br><br> Let us see an schematic representation of such "double slit":

                        <center>   <img src="{% static "img/bragg.gif" %}" alt="double_slit" width="500"></center>
                        For this, Davisson & Germer won the 1937 Nobel Prize in Physics.
                        <br><br>
                        By performing the same gymnastics used for the double-slit configuration, we arrive to the <b>Bragg Law</b>
                        <br><br>
                        $2d {\rm sin}(\theta)=\lambda$.<br><br>
                        For which the family duo, won the Noble prize in 1915 ( in reality, they came out with this formula while studying X-ray difraction on cystals, but the same applies for electrons, which are also a wave ).

                        <br><br>
 Davisson & Germer experiment, provides convincing evidence of the wave nature of electrons, which is a fundamental massive particle!. In turn, suggesting that all matter should exhibit some sort of wave behavior!
                        <h2> Properties of Matter Waves</h2>
Now suppose we perform a truly double slit experiments with electron, what would we see?
                       <br><br>
                       <center>   <img src="{% static "img/bragg.gif" %}" alt="double_slit" width="500"></center><br><br>
                       From the statistical point of view, the "amoung" of electrons on different regions of the screens should be associated with the probability of finding an electron in such region (i.e, the more electrons in a region after a millions of electrons being fired, the more the probability of finding an electron there). From the wave point of view, the "intensity" of a region is given by the square of the amplitude of the resulting wave, and such, the natural conclusion to make is: <br><br>
                       <center> <em>The probability of finding a particle in a region is proportional to the square of the  wave function associated to that particle in that region.</em></center> <br><br>
                       Or in mathematical terms:<br><br>
                       <center>$P(e^{-},x)=|\Psi(x,t)|^2$</center> <br><br>
                       This lead us to the ask: In a EM wave, the stuff oscilatting are the E & M fields. What is then oscillating in a Matter wave?. R:  The probability of finding the particle is the oscillating phenomena &#129327;

                       Another important observation to make is that, a neccesary requirement for creating a wave interference pattern, is that both interfering waves need to be coherent and have equal amplitudes. This implies that a given electron, similarly as a wave, need to pass through both slits AT THE SAME TIME! &#129327; &#129327;. (it is what it is).

                       <br><br>
                       The wavelenght for matter carries an special name, is it called <b>de Broglie wavelength</b> and is given simple by adopting the same relation as the photon $\lambda={h\over p}$. This relation is <b>universal</b>- true for all phenomena. <br><br>
                       Similarly, the frequency of a wave of matter is given by $E= h f $ or $f={E\over h}$. <br><br>Now the fundamental difference between radiation waves and matter wwaves is that matter wavelength varies inversily with the mass. Thats the reason why we humans don't see our wave &#128546;. Luckily, the crystal atomic interspace is small enought to be of the order of an electron de Broglie wavelength. Subsequently, difraction patterns are observed using much heavier particles, such neutrons or even atoms. <br>
                       Similarly to the case of light, the wave or particle behaviour depends on the size of $\lambda$ wrt relevant scales (draw the double slit situation).
                        </p>

                        <h2>The Schrödinger equation</h2>

                        The wave equation for matter fields is given by the Schrödinger Equation

                        \begin{equation}
                        -{\hbar\over 2 m}{\partial^2\Psi(x,t)\over\partial x^2}=i\hbar{\partial\Psi(x,t)\over\partial t}\,,
                        \end{equation}
                        where $\hbar=h/2\pi$.

                </div>
            </div>
        </div>
    </div>


</body>

</html>
