{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quantum Mechanics</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }
     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/planck.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Quantum Mechanics</h1>
                        <hr class="small">
                        <span class="subheading">=== </span>
                        <span class="subheading">=== </span>
                        <h2>Experimental Indications  </h2>
                        <h3>PHYS-221 Feb 12 / 2024 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                   		  <h2>Learning Objectives</h2>
		  <ol>		    
		    <li>Brief review of complex numbers</li>
		    <li>Learn what is Blackbody radiation and it's implications for the development of Quantum Mechanics</li>
		    <li>Learn the Photoelectric Effect and and it's implications for the development of Quantum Mechanics </li>
		  </ol>
                    <!-- <center>   <img src="{% static "img/feynman_quote.png" %}"  width="600"></center>        <br><br> -->
		    <!-- <center>   <img src="{% static "img/Maxwell_diff_form.png" %}"  width="600"></center>        <br><br> -->
		  <h2>Very brief review of complex numbers</h2>
		 Let us use this short notes from University of Washington <a style="color: navy;" target="blanck_" href="https://sites.math.washington.edu/~aloveles/Math307Fall2019/m307ComplexNumbers.pdf"> on comple numbers </a>. <br><br>
		  <h2>The Ultraviolet Catastrophe </h2>

		  		       <h3>Lets recap last concepts </h3>
		  <em> Fill in the blancks</em> <br>
		  <b> Rules</b>: those than know what to fill in =<b> shout it out</b>. Those that does not =  <b> raise your hand</b>.
		  <br>
		  <br>
Classically, electromagnetic radiation is a w____.<br><br>		 
		  Classically, light is generated when charged particles are a________.<br><br>
		 
		 <br><br>

		 <h3>Thermal radiation</h3>
		 Think heating up a solid, as much as you want as long it remains a solid. Microscopically, what do you think happens to the independent molecules of the solid?
		 		        <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>Get detached from the solid. </li>
		   <li>Increase their temperature. </li>
		    <li>Vibrate faster. </li>
		   <li> Collide with each other </li>
		   <li>I don't know</li>
		 </ol>
		 <br><br>

		 All materials emit electromagnetic radiation, because they contain charged particles that jiggle around, and an accelerating charge radiates electromagnetic energy. This particular radiation is termed <em>Thermal Radiation</em>.<br><br>
		 What other radiation can a body "emit"? 
		 <br><br>
		 Well, they can reflect radiation, much as a mirror reflect visible radiation. <br><br>

		 An object from which electromagnetic radiation emanates solely due to the thermal motion of its charges is known as a <b>Blackbody</b>. Any radiation that strikes it must be absorbed rather than reflected, hence the name.


		 <br><br>
		 Based in such definition, which of the following is a blackbody
	<br>	 		 		        <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>The Sun </li>
		   <li>A piece of charcoal </li>
		  
		    <li>A piece of Glass </li>
		   <li> A Black-hole </li>
		   <li>A planet</li>
		   <li>None of the above</li>
		 </ol>
		 <br><br>

		 <br><br>
		 The Sun’s surface, from which reflection is neglectable, is a blackbody.<br><br>
		 A good approximation to a blackbody can be done from  an object with an interior cavity and a small hole connecting it to the exterior, <br><br> <center>   <img src="{% static "img/blackbody.jpeg" %}"  width="300"></center> <br><br>
		 An experiment is setup such us we can measure the energy emitted by a blackbody (like the sun). In practice the <b>spectral density</b>$={du\over df}$ is measured: 
 <br> <center>   <img src="{% static "img/spectral_energy.png" %}"  width="500"></center> <br><br>
 If the electromagnetic radiation behaves strictly as sinusoidally oscillating waves, the spectral density turns out to be
 $${dU\over df}=k_b T\times {8\pi V\over c^3}f^2\,. $$ This curve is also shown in the plot above, the black curve shows that as the frequency on the radiated wave increases, the spectral energy density grows (quadratically), leading to a divergence in the energy spectral density: The ultraviolet catastrophe". <br><br>
 In a desperate attempt to avoid to solve the such catastrophe, Max Planck suggested that the energy at frequency $f$ is somehow restricted to be proportional to an integer times the frequency  $$E=n\,h\,f\,,$$ with $h$ some constant, which leads to following theoretical prediction,
 <br>
                            $$\boxed{{dU\over df}={8\pi~ V~h~f^3/c^3\over e^{h f/k_B T}-1} }\,,$$
 and which perfectly matches the curve seen experimentally. The value of the constant that adjust the experimental data to the curve above is,
 $h= 6.63\times 10^{-34} J\cdot s $, the following table is useful,
 <br> <center>   <img src="{% static "img/hbars.png" %}"  width="300"></center> <br><br>
 Planks constant is yet another nature's fundamental constants, as $c$ or the gravitational constant $G$. For it discovery and the resolution of the ultraviolet catastrophe, Max Plank was awarded the 1918 Nobel Prize. <br><br>
 We are coming back to this formula when we cover quantum statistical mechanics.
 <br><br>
 <h2>Discussion</h2>
 Planck hypothesis $$E=n\,h\,f $$ have deep consequences on our understanding of nature's behavior: it implies that energy can take discrete values, or as we said in physics, is <em> quantized  </em>. It seems to imply that electromagnetic radiation behaves as an having an integer number of particles each of energy $hf$. However, even Planck hesitated at the time to make such huge conceptual leap.
 <br><br>
 Plank's spectral density is a crucial link between temperature and electromagnetic radiation, that we will explore later in the course, but for now, let us look into some practicality of the spectral energy density formula.<br><br>
 
 Lets us try some <em>dimensional analysis</em>. Consider an electromagnetic wave: what are the units of the frequency $f$? <br>
 what are the units of the wave length  $\lambda$?<br>
 Based on your answers, what of the following is correct
 
	<br>	 		 		        <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>$f\lambda=\omega $  </li>
		   <li>$f\lambda=T $ </li>
		  
		    <li>$f\lambda=c $ </li>
		   <li> $f\lambda=1$ </li>
		   <li>None of the above</li>
		 </ol>
		 <br><br>

		  Lets take a look at the light spectrum
 				 <center>   <img src="{% static "img/EM_spectrum.png" %}" width="700"></center>        <br><br>

Considering only the visible spectrum, what of the following is wrong?:				 
	<br>	 		 		        <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>$E(violet) > E(yellow)$  </li>
		   <li>$E(green) <  E(orange)$ </li>
		    <li>$E(yellow) >  E(orange)$ </li>
   <li>$E(violet) > E(red)$ </li>
		
		 </ol>

		 <br><br><h2>What is the surface temperature of a star?</h2>
		 Lets go back to the blackbody.  Replacing $f={c\over \lambda}$ into the spectral energy density, and after some boring algebra (that will go into HW), we get,
		 $${dU\over d\lambda}={8\pi V h c\over e^{hc/\lambda k_b T}-1}{1\over \lambda^5}\,. $$ which is a bit more useful. Notice that $dU/ df$ peaks at certain frequency. Computing the maximum in terms of wavelength, we get,
		 $$ \lambda_{max}T=2.898\times 10^{-3}m\cdot K $$
		 which is known as the <b>Wien's law</b>.
		 <br><br>
Considering that we see sunlight as yellow-ish $\lambda = 570\, nm $, provide an estimated for the
temperature of the Sun:		 
	<br>	 		 		        <img src="{% static "img/iclicker.png" %}" width="100"> <br>
		 <ol style="line-height:300%" type="A">
		   <li>$T\approx 5000 K $  </li>
		   <li>$T\approx 10^{6}K $ </li>		  
		    <li>$T\approx 10^{6}K $ </li>
		   <li> $T\approx 500 K $ </li>

		 </ol>
		 <br><br>

                        <!--     Photoelectric Effect and Comptom Effect (among others), Electromagnetic waves exhibit particle behavior, and as such we have associated a name to that particle: <b>The Photon</b>. Such particle is massless and is characterized by a momentum $\boxed{p=h/\lambda}$ and Energy $\boxed{E=h f}$. Such behaviour lead us to the discovery of the <em>Wave-Particle duality</em> of light. -->
                        <!-- </br> -->
                        <!-- Today we are gonna see that this <em>Dual</em> behaviour is not unique of light, but is sort of universal, in the sense that even matter exhibit such strange behavior.</p> -->

                        <h2>Next: Photoelectric Effect </h2>
                       <br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
