{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About me</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }
     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <header class="intro-header">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/chicaque.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>Welcome</h2>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">


                 
		  <h2>A little bit about my life and background</h2>

		  I was born and raised in the picturesque landscapes of Colombia. Similar to many countries in the Americas, Colombia boasts a population that is highly diverse, representing a wide array of races and ethnicities. In fact, one of the most remarkable aspects of the country is its wide diversity, evident not only in the genetic heritage of its inhabitants but also in its extensive biodiversity. Colombia is ranked as the second most biodiverse nation on Earth, surpassed only by Brazil, which, to be fair, encompasses eight times more land area than Colombia in square kilometers.
		</br></br>
		 <p>
		      <em>		    “He allowed himself to be swayed by his conviction that human beings are not born once and for all on the day their mothers give birth to them, but that life obliges them over and over again to give birth to themselves.” </em></br>
― Gabriel García Márquez, Love in the Time of Cholera
		    </p>
		  I did my undergrad in Physics at Universidad del Valle, Cali-Colombia and received my PhD in Physics from Universidad de Buenos Aires - Argentina. Later I took research positions at highly ranked universities in Brazil, Taiwan, Denmark and the United States. Currently, I am a Visiting Assistant Professor at Case Western Reserve University in Cleveland, OH, USA. 
		   
</br></br>

<h2>Research</h2>
My primary area of research falls within the expansive realm of Quantum Field Theory. I have made significant contributions to Conformal Field Theory, Scattering Amplitudes, and Gravity.<br><br>
Presently, my primary research focus revolves around exploring the foundational aspects of Deep Learning, examining it through the perspective of complex physical analogical systems.
<br>
In particular, much like Physics leverages symmetries to simplify models for complex systems, I contend that Deep Learning should seek analogous symmetries. These symmetries, I believe, hold the potential to help us overcome the pervasive curse of dimensionality that plagues deep learning models.
		</br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
