{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bohr Model of the Atom</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }
     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/bohr.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Week 4: Quantum Mechanics in Practice</h1>
                        <hr class="small">
                        <span class="subheading">=== </span>
                        <span class="subheading">=== </span>
                        <h2>The Bohr Model of the Atom</h2>
                        <h3>PHYS-221 Feb 6 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">

                    <h2>The Classical Hydrogen Atom</h2>

                    Let's first start considering a classical version of an Hydrogen atom, which consist of an electron orbiting a proton. As usual, the total mechanical energy, is given by the kinetic energy plus the potential energy (and we are going to neglect relativistic effects),
                    \begin{equation}
                    E=k+u={m v^2\over 2}+{1\over 4\pi \epsilon_0}{-e\times e\over r}
                    \end{equation}

                    From the electrostatic potential one can compute the force felt by a particle of charge $-e$ under the influence of a particle of charge $e$ simply by taking a derivative $F=-{d u(r)\over dr}$,
                    \begin{equation}
                    F={1\over 4\pi \epsilon_0}{ e^2\over r^2}\,.
                    \end{equation}
                    By second Newton's law, we have $F=m a$. Using circular acceleration it looks like:
                    \begin{equation}
                    F={1\over 4\pi \epsilon_0}{e^2\over r^2} =m{v^2\over r}\,.  \qquad (1)
                    \end{equation}
                    Solving the last equation for $v^2$ and replacing on the kinetic term,
                    \begin{equation}
                    E_{classical}=-{e^2\over 8\pi\epsilon_0 r}\,,
                    \end{equation}
                    Notice that the Energy is negative and the closer both particles are to each other, the lower the energy is, in other words, in this classical picture the electron will end up collapsing into the proton, and none atom will be stable to sustain matter as we know it. Quantum mechanics and Bohr model will solve this conundrum in a couple of minutes.

                    <h2>Bohr's Postulate</h2>
                    Here it comes an example about the power of dimensional analysis: $[\hbar]=J~s=[m][l]^2/[t]$.<br>
                    Borh thought: if the electron is truly orbiting the proton, then it should have an angular momentum associated to it: what is the angular momentum of a quatum?. Recalling that classical $L=m\vec{v}\times \vec{r}$ or for circular motion $L=m~v~r$ which in turn has,
                    \begin{equation}
                    [L]=[m]([l]/[t])[l]=[m][l]^2/[t]=[\hbar]\,.
                    \end{equation}
                    Borh Postulate: The electron angular momentum orbiting aroung the proton is given by $\fbox{$L=n\hbar$}$ with $n\in \mathbb{N}$.<br><br>
                    We can think of an alternative derivation, by considering the wave behavior of the electron: A wave wrapping around a circle should fit exactly:
                    <center>   <img src="{% static "img/wave_circle.png" %}" width="500"></center><br><br>
                    The above depicted waves should satisfy $2\pi r= 3\lambda$ and $2\pi r= 4\lambda$,.... O more generally  $2\pi r= n\lambda$. Using $\lambda=h/p=h/mv$ lead us to $\fbox{$L=mvr=n\hbar$}$. 
                    <br><br>
                    Now we can come back to our classical view of the Hydrogen atom and combine it with the Bohr's  quantized angular momenta, by solving $mvr=n\hbar$ for $v$ and replacing it equation (1),  we  get a condition for the orbital radius:
                    \begin{equation}
                    r={4\pi\epsilon_0~\hbar^2\over m e^2} n^2 = a_0 n^2\,,
                    \end{equation}
                    where  $a_0={4\pi\epsilon_0~\hbar^2\over m e^2}=$Bohr's radius.<br><br>
                    According to Bohr's model, the electron orbits at only certain allowed (quatized) radii, and that avoids the atoms to collapse into near zero-volume objects. Replacing $r$ in $E_{classical}$, the energy is also quantized:
                    \begin{equation}
                    E_{classical}=-{m e^4\over 2(4\pi\epsilon_0\hbar)^2 n^2 }=-13.6 eV{1\over n^2}\,.
                    \end{equation}
                    The Bohr model (Niels Bohr won the Nobel prize in 1922) sucessfully reproduced the spectral lines (Lyman series) of emission for the Hydrogen atom, and can be thought as the first attempt to describe the atomic structure.

                    <hr>
                    Detour: <em>Lyman series</em>
                    Previous to the development of Quantum Mechanics, the result from the spectral decomposition of light produced by several materials was unexplained by classical theories (why it is discrete?).
                    <center>   <img src="{% static "img/spectral.jpg" %}" width="600"></center><br><br>
                    <center>   <img src="{% static "img/Lyman.png" %}" width="600"><br>Spectral lines Hydrogen Lamp</center><br><br>
                    By using Bohr's result $E_{classical}=-13.6 eV{1\over n^2}$, we can check that the energy released by an electron falling from an upper orbit at $n=n_i$ to a lower one at $n=n_f$, equals the energy of a photon of wavelength,
                    \begin{equation}
                    {1\over\lambda}=R\left({1\over n_f^2}-{1\over n_i^2}\right)
                    \end{equation}
                    where $R=1.097\times10^7~ m^{-1}=$Rydberg constant.

                    <hr>
                    However, Bohr's model turns out to be very limited, in particular, it does not generalized well to atoms with several electrons. A fully quantum mechanical treatment of the atom, would requiere a more careful treatment for the quatization of the angular momenta, and is out of the scope of this course (it requieres some group theory and representation theory).

                    <br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
