{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Boltzman Distro II</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }

     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/boltzmann.jpeg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Week 11</h1>
                        <hr class="small">
                        <h2>The Boltzmann Distribution (part 2) </h2>
                        <h3>PHYS-221 April 3 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    Announcement: 
                    <h2>Occupation Number</h2>
                    Last class, we have derived to Botlzmann distribution of energy for. Let's see some plots of it for different temperatures,
                    <br><br>
                    <center>   <img src="{% static "img/boltz_diff_temps.png" %}" width="600"></center><br><br>
                    We can see that for higher temperatures, we have a bigger probabilities of higher energy levels to be occupied, which is absolutely reasonable due to the fact that we have the more total energy is available, the more can be distributed among all the particles.<br><br>
                    A fact that we have used while deriving to Boltzmann distribution is that the average number of particles at a given energy level is proportional to the probability of a particle to be at such given energy level. Of course the proportionallity constant is the total number of particles. In other words, the <b>occupation number</b> is defined by
                    $$\mathcal{N}(E_n)=N\,A\,e^{-E_n\over k_B T}={N\,e^{-E_n\over k_B T}\over \sum_n\, e^{-E_n\over k_B T}}\,, $$
                    Obviously the occupation number over all states, gives the total number of particles, as expected,
                    $$\sum_n\mathcal{N}(E_n)=N\,\sum_n\, Ae^{-E_n\over k_B T}=N\,. $$
                    Let's now apply the Boltzmann distribution to our first example: a gas of harmonic oscilators. We can obtain the average energy of such gas by computing,
                    $$\bar{E}=\sum_n E_n\, P(E_n)={\sum_n\, n\hbar \omega\,e^{-n\hbar\omega\over k_B T}\over\sum_n\,e^{-n\hbar\omega\over k_B T} }  $$
                    which can be rapidly computed by using the geometric series to give,
                    $$\bar{E}={\hbar\omega\over e^{\hbar\omega\over k_B T}-1} $$
                    this looks similar to a distribution you all already know! and of course is not a coincidence. <br><br>
                    One can similarly write such expectation value in terms of occupacy number as,
                    $$\bar{E}={\sum_n\, E_n\, \mathcal{N}(E_n)\over\sum_n\, \mathcal{N}(E_n) }\,, $$
                    This says that the average energy is the energy $E_n$ of a given state times the number of particles in that state, summed over all the states and then divided by the total number of particles in all states.
                    <h2>From states to energies </h2>
                    Notice that in the sums above, $n$ represents (in a compact form) <b>all state</b> labels. Since degeneracy will introduce some over counting, we would like to have a representation that sums over energies instead of individual states. To see why and how, suppose we have a gas of hydrogen atoms, then we can change the sum from states to energies as follows,
                    $$\sum_n\, E_n\, \mathcal{N}(E_n)=\sum_n\, E_nN\,A\,e^{-E_n\over k_B T} =\sum_{E_n}E_n\,N\,A\,e^{-E_n\over k_B T}\times{\rm degeneracy}\,.$$
                    or equivalently,
                    $$\sum_n\, E_n\, \mathcal{N}(E_n)= \sum_{E_n}\, E_n\, \mathcal{N}(E_n)\,({\rm number\,\,of\,\,states\,\,of\,\,energy}\,\, E_n)$$
                    As we have seen from the Boltzmann distribution, the higher the temperature of a system, the larger the number of states getting occupied. If the temperature is large enough, the number of occupied states can become very large, and it is convenient to change the sum by an integral.
                    $$ \sum_{E_n}\, E_n\, \mathcal{N}(E_n)\,({\rm number\,\,of\,\,states\,\,of\,\,energy}\,\, E_n)$$
                    $$ =\int\, E_n\, \mathcal{N}(E_n)\,({\rm number\,\,of\,\,states\,\,of\,\,energy}\,\, E_n+dE_n){dE_n\over dE_n}$$
                    and we can defined the <b>density of states</b> as
                    $$D(E_n)= { ({\rm number\,\,of\,\,states\,\,of\,\,energy}\,\, E_n+dE_n)\over dE_n}$$
                    which allow us to write:
                    $$\bar{E} ={\int\, E\, \mathcal{N}(E)\,D(E)dE\over \int\mathcal{N}(E)\,D(E)dE}\,.$$
                    As an example, let us consider again the harmonic oscilator in the ``continuous'' limit. For that we need to change summation over $n$ to $E_n$. We have $E_n=n\hbar\omega$, then
                    $$dn=d\left({E\over\hbar\omega}\right)={dE\over \hbar\omega}\,,$$from which we can read $D(E)={1\over\hbar\omega}$.
                    <hr>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
