{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Statistical Mechanics II</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }

     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/boltzmann.jpeg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Week 8</h1>
                        <hr class="small">
                        <h2>The Boltzmann Distribution </h2>
                        <h3>PHYS-221 March 22 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    Announcement: 
                    <h2>Distributing Energy</h2>
Now we will start moving towards Quantum Statistical Mechanics. Let's come back to our gas in a box example, but now let's give some quantum structure to the  particles in the box.  For example, let's consider each particle in the gas as being a small quantum harmonic oscilator, say two atoms tied by a $-\kappa x^2$ force.
                   <br><br>
                   <center>   <img src="{% static "img/gas1.gif" %}" width="400"></center><br><br>
                   Each atom can be at any of the energy states allowed by the quantum harmonic oscilator, i.e,
                   $$E^0_n=\left(n_i+{1\over2}\right)\hbar\omega $$ for convenience, let's measure each of these energies with respect to the ground state energy,
                   $$E_n=E^0_n- {1\over2}\hbar\omega=n_i\hbar\omega\,.$$
                   The total quantum internal energy is given by
                   $$ E_T=\sum_{i=1}^Nn_i\hbar\omega\equiv M\hbar\omega $$ where $N$ is the total number of harmonic oscilators and $M$ is the sum over all quantum numbers for the energy, or $\sum_{i=1}^Nn_i=M$.<br><br>
                   Our goal is to find the probability that a particle (an harmonic oscilator) in the gas, be in a state of energy $E_n$. First it is useful to answer the question, in how many ways $N-$integers ($N-$particles quantum numbers) can be added to give the integer $M$?, the answer is
                   $${(M+N-1)\over M!(N-1)!}\,. $$
This is in turn would be the total number of ways the energy could be distributed among the $N$ quantum numbers.
                   <hr>
                   <hr>
                   Using the basic definition of probability, the probability that a particle $i$ will possess energy $E_{n_i}$, or equivalently, quantum number $n_i$ is,<br><br>:
                   <center>P(n_i)=(Number of ways to have energy $n_i$)/(Total number of ways energy can be distributed)</center>
                   $$P_{n_i}=\frac{((M-n_i)+(N-2))!\over (M-n_i)!(N-2)!} {(M+N-1)\over M!(N-1)!}$$
                   Let's plot this function on a notebook:
                   <center>   <img src="{% static "img/pn.png" %}" width="800"></center><br><br>
                   The most probable state for a given particle, or the state in which the number of ways of distributing the energy among all particles is greatest, is one of lower energy.<br><br>
                   Even though we have derived such result for the case of harmonic oscilators particles in a gas, the result is shockingly quite universal for large systems: for large systems of distinguishable particles at temperature $T$, the probability of an individual particle to be at state $n$ with energy $E_n$ is given by the Bolzmann distribution,
                   $$P(E_n)=A\,e^{-E_n\over k_B T}\,,$$
                   Where the index $n$ stands for the set of all quantum numbers specifying an individual particle energy, and the proportionalit y constant is  determined by imposing the normalization condition
                   $$\sum P(E_n)=1=\sum_n A\,e^{-E_n\over k_B T} $$ or
                   $$A={1\over\sum_ne^{-E_n\over k_B T}} $$
                   <center> <img src="{% static "img/pnvsbol.png" %}" width="800"></center><br><br>
                   Let us try a simplified derivation. We need to maximize the entropy of the system subject to the constraint that the total energy of the system is fixed. The entropy of the system is given by:

                  $$ S = -k \sum(P_i\,\ln(P_i))$$

                   where the sum is over all possible energy levels. Using the constraint that the total energy of the system is fixed, we have:

                 $$ E = \sum(P_i\, E_i)$$

                   Taking the partial derivative of $S$ with respect to $P_i$ and setting it equal to zero, we get:

                  $$ dS/dP_i = -k\, \ln(P_i) - k - k\,\ln(Z) + E_i/kT = 0$$

                   Rearranging, we get:

                  $$ P_i = e^{-E_i/kT} / Z$$

                   which is the Boltzmann distribution.

                   Thus, the Boltzmann distribution is the probability distribution that maximizes the entropy of a system of particles in thermal equilibrium subject to the constraint that the total energy of the system is fixed. It describes the distribution of particles in energy levels and is widely used in statistical mechanics to model the behavior of particles in gases, liquids, and solids.

                   <hr>
                    <b> Example</b>: Consider a gas with $N=10^{23}$ molecules. Initially, the gas is contained in one half of a box, but eventually it is allowed to fill the remaining half. Compute the change of entropy using both formulas for $\Delta S$ we have seen, i,e, by counting the number of microstates, and by heat transfer.
                    <hr>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
