{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quantum Harmonic Oscillator</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }

     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/quantum-corral.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>Harmonic Oscillator</h2>
                        <h3>PHYS-221 Sept 25 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                
		  Let me start with clicker from last Friday
		      <center>   <img src="{% static "img/clicker_second_order.png" %}" width="800"></center>
		      <br><br>
		        <center>   <img src="{% static "img/infinite_well_click.png" %}" width="800"></center>
			<br><br>
		  <center>   <img src="{% static "img/infinite_well_click2.png" %}" width="800"></center>
		  <br><br>
		                    <h2>Quantum Harmonic Oscillator </h2>
		      Harmonic Oscillator is a bounded system:<br>0;256;0c
                    <center>   <img src="{% static "img/HO.png" %}" width="800"></center>
		    Therefore, we only need to look into the time-independent Schrodinger equation,
 \begin{equation}
                   \boxed{ -{\hbar^2\over 2m} {d^2\psi(x)\over dx^2}+u(x)\psi(x)=E\psi(x)}\,.
                    \end{equation}
with $u(x)=\frac{1}{2}m\omega^2$.
                    <h2>HO Solutions</h2>
		  
Solutions are given by,
\begin{equation}
\psi_n(x)={\cal N}_n\, e^{-\frac{m\omega x^2}{2\hbar}}H_n\left(\sqrt{\frac{m\omega}{\hbar}}\right),\quad n=0,1,2,\cdots.
\end{equation}
		    with,
		    \begin{equation}
		    H_n(z)=(-1)^n\,e^{z^2}\frac{d^n}{dz^n}\left(e^{-z^2}\right)\,,\quad{\rm and}\quad
		    {\cal N}_n=\frac{1}{\sqrt{2^n n!}}\left(\frac{m\omega}{\pi\hbar}\right)^{1/4}		    \end{equation}

		    First few Hermite polynomial:
		    \begin{equation}
		    H_0(z)=1,\quad H_1(z)=2z,\quad H_2(z)=4z^2-2,\quad
		    \end{equation}
<center>   <img src="{% static "img/HO_sols.png" %}" width="700"></center><br><br>
with corresponding energies given by,

                    \begin{equation}
                    E_n=\left(n+\frac{1}{2}\right)\hbar \omega\,.\quad  n=0,1,2,\cdots.
                    \end{equation}
Notice that in this case $n$ can equal zero.
<br><br>
  <center>   <img src="{% static "img/ho_click.png" %}" width="800"></center>
  Recall that the angular frecuency of a pendulum is given by
  \begin{equation}
  \omega_{\rm classi.}=\sqrt{\frac{g}{L}}\,.
  \end{equation}
<!-- <ol type="A"> -->
<!--   <li>$P_n\left(x={L\over 2}\right)= 1/2$</li><br> -->
<!--   <li>$P_n\left(x={L\over 2}\right)= 0$</li><br> -->
<!--   <li>$P_n\left(x={L\over 2}\right)= \sqrt{2\over L} $</li> -->
˙<!-- </ol> -->
˙<!-- </p> -->
<!-- 		 <br><br> -->
<!-- 		 However, the expectation value for a particle in a box of size $L$ is,  -->
<!-- 		 \begin{equation}\langle x\rangle=\frac{L}{2},\quad \langle p \rangle=0\,.\end{equation} -->

                    <br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
