{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3D QM</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }

     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/hydrogen-atom.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Week 7 </h1>
                        <hr class="small">
                        <h2>The Hydrogen Atom Revisited </h2>
                        <h3>PHYS-221 March 3 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    Announcement:
                    <h2>Schrodinger Equation(s) for Hydrogen atom </h2>
                    Previously wrote the Schrodinger equation for a system with a central potential in Spherical coordinates, and use separation of variables to get a system of three independent differential equations, one per spherical coordinate:
                    <br><br>
                    &#x2713; The polar equation:
                    $$ {\rm sin}(\theta){\partial\over \partial\theta}\left({\rm sin}(\theta){\partial\over\partial\theta}\right)\Theta(\theta)  -C\,{\rm sin}^2(\theta)=D\Theta(\theta)$$
                    <hr>
                    &#x2713; The azimuthal equation:
                    $$ {\partial^2\Phi(\phi)\over \partial\phi^2}=-D\Phi(\phi)$$
                    <hr>
                    The radial equation:
                    $$-{\partial\over \partial r}\left(r^2{\partial\over \partial r}\right)R(r)-{2mr^2\over \hbar^2}(E-U(r))R(r)=C\,R(r)$$
                    <hr>
                    With potential energy given by,
                    \begin{equation}
                    U(r)=-{1\over4\pi \epsilon_0}{e^2\over r}\,
                    \end{equation}
                    <h3>The Radial equation</h3>
                    Now we consider the actual equation that tell apart the Hydrogen atom from any other atom, or more generally, central potential. 
                    $$-{\hbar^2\over 2 m}{1\over r^2}{\partial\over \partial r}\left(r^2{\partial\over \partial r}\right)R(r)+{ \hbar^2 \ell(\ell+1)\over 2mr^2}R(r)+U(r)R(r)=E\,R(r)$$
                    $$ E_{\rm kinetic}\qquad+\qquad \left(E_{\rm rotational}={L^2\over 2m}\right)+\quad E_{\rm potential}=E_{\rm total} $$
                    We know that $E$ is a conserved quantity in an isolated system, and similarly as in the case of polar and azimuthal equations, the value of the constants in the Schrodinger equations can NOT be arbitrary, since not all values give us physically acceptable solutions, in the case of $E$, it needs to be,
                    \begin{equation}
                    E=-{m e^2\over2 (4\pi\epsilon_0)^2 n^2}={-13.6 eV\over n^2} 
                    \end{equation}
                    which equals the energy from Bohr's model, with an important modification:
                    $$ \boxed{|L|=\hbar\sqrt{\ell(\ell+1)},\quad \ell=0,1,2,\cdots,n-1}\,. $$
                    The explanation for the last restriction comes from the fact that rotational energy can't be larger than the total energy. The quantum number $n=$ for the Hydrogen atom is known as the <b>principal quantum number</b>. 
                    <br><br>
                    By doing some algebra we can transform the radial equation into,
                    $$x Z''(x) +(2(\ell+1) -x)Z'(x)+(\lambda-(\ell+1))Z(x)=0 $$
                    where $x=\sqrt{8 m E\over \hbar^2}r,\quad\lambda={ e^2\over \hbar}\sqrt{m\over 2 E}$ and derivatives are taken with respect to $x$ (please don't trust a lot this change of variables, I need to recheck it) <br>
                    This equation is known as the
                    <a href="https://en.wikipedia.org/wiki/Laguerre_polynomials">associated Laguerre equation</a>, which defined the associated Laguerre polynomials.<br><br>
                    <br>
                                    <center>   <img src="{% static "img/spherical_harm.png" %}" width="800"></center><br>
                                    <h3>Degeneracy</h3>
                                    I have claim previously that degeneracy is a reflection of symmetry. The hidrogen atom being spherically symmetric, should exhibit  some degeneracy. We can quickly see that for each value of $n$, there corresponds many $\ell$'s and $m_{\ell}$'s, and since each triplet $(n,\ell,m_{\ell})$ defines a unique wavefunction $\Psi_{(n,\ell,m_{\ell})}=R_{n,\ell}\Theta_{\ell, m_{\ell}}\Phi_{m_{\ell}}$, all energy levels (except the ground state), are degenerate <br><br>
                                    <center>   <img src="{% static "img/hydrogen_degen.png" %}" width="500"></center> 
                                    <h3>Normalization</h3>
                                    $$|\Psi_{(n,\ell,m_{\ell})}|^2=|R_{n,\ell}|^2|\Theta_{\ell, m_{\ell}}|^2 $$
                                    which is usually split into angular and radial normalizations:
                                    $$\int_{0}^{\infty}R^2(r)r^2 dr=1,\qquad 2\pi\int_0^{2\pi}\Theta^2(\theta) {\rm sin\theta}d\theta=1 $$ 
                                    <h3>Radial probabilities</h3>
                                    For historical reasons, an standard notation, called <b>spectroscopic notation</b>, is used when we talk about atoms.                                The notation is $(n\,\ell)$ with $\ell$ replaced by the following letters:
                                    <center>   <img src="{% static "img/spect.png" %}" width="500"></center><br><br>
                                    The historical meaning of this letters were sharp, principal, diffuse, fundamental, g, h, i, j, k,...<br><br>

                                    From the total probability expresion above, we infer that the probability per unit lenght is given by,
                                    $$ \boxed{P(r)=r^2 R^2(r)} $$
                                    plotting this function for few different energies looks like:<br><br>
                                    <center>   <img src="{% static "img/radial_prob.png" %}" width="700"> </center>
                                    <br><br><br>
                                    <h3>Total Probabilities</h3>
                             With all that in hand, we can imagine a bit better how the total probabilities look like 
                                    <center>   <img src="{% static "img/angular_prob1.png" %}" width="350"> <img src="{% static "img/electron_where.png" %}" width="370"> <img src="{% static "img/radial_prob.png" %}" width="400"> </center>
                                    </center>

 
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
