{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Molecules 2</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }

     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/caffeine.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Week 13</h1>
                        <hr class="small">
                        <h2>(Simple) Molecules (Continuation)</h2>
                        <h3>PHYS-221 April 19 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <br><br>
                    <h2>More on Bonds</h2>
                    In our previous class we have seen that  combining  energy level $n=2$ atomic states, results in sigma bonds and anti-bonds $\sigma2p_x$, $\sigma^*2p_x$, which charge density is largest along the molecular axis, as well as pi bonds $\sigma^*2p_y$,  $\pi^*2p_z$, whose charge molecular density is off axis:<br><br>
                    <!-- <center>   <img src="{% static "img/hydro.png" %}" width="600"></center><br><br>
                         <center>   <img src="{% static "img/two_wells.png" %}" width="800"></center><br><br>
                         In general we will have $N-$state bands por $N-$finite wells:<br><br>
                         <center>   <img src="{% static "img/nbands.png" %}" width="600"></center><br><br>
                    -->

                    <center>   <img src="{% static "img/n2.png" %}" width="300">           <img src="{% static "img/2n2.png" %}" width="300"></center><br><br>
                    $\sigma$ bonds are stronger bonds due to head-on overlapping of orbitals on two different atoms. $\pi$ bonds are weaker and are due to lateral overlap between p (or d) orbitals.<br><br>
Some $n=2$ bounds are shown in the table below,
                    <center>   <img src="{% static "img/n2levels.png" %}" width="500"></center><br><br>
                    Before moving on, some features are  noteworthy in this table (which I will provide without further explanation).  In all these $n=2$ examples, the $1s$ electrons are confined to their initial atoms. Second, energy value (or level) for $\sigma$ and  $\pi$ bonds differ from molecule to molecule. For instance, $\sigma 2 p$ is higher on $N_2$ than on $O_2$ and $\pi 2 p$ is the other way around. Third, electrons at $\pi^8 2p$ states in $O_2$ occupy different states, because electrons prefer to spread out. Lastly, as we saw in the $n=1$  case, the total bonding power comes from having mostly bound states that anti-bound states, or mathematically $$n_{\rm bond}-n_{\rm anti-bond} > 0\,.$$
                    <br><br>
                    <h3>(Some) Types of Bounds</h3>
                    <ul>
                        <li> A <b>Covalent</b> bond
                            consists of the mutual sharing of pairs of electrons between two atoms. These electrons are simultaneously attracted by the two atomic nuclei<br><br>
                            <center>   <img src="{% static "img/h2_covalent.png" %}" width="500"></center>
                            </li>
                            <li><b>Polar covalent</b> bonds occur between atoms of different elements. For instance, when HF forms, hydrogen's $n=1$ and fluorine $n=2$ electrons are shared asymmetrically. The fluorine has an excess of electrons, leaving an equal positive excess at the hydrogen end.</li>
                            <li><b>Ionic</b> bond occurs when a (usually large) atom with a lone valence electron meet an atom one electron short of noble gas structure, in such a way that the almost noble gas steal the lane valence electron of the large atom <br><br> <center>   <img src="{% static "img/covalent_bonds.jpg" %}" width="800"></center><br><Br></li>
                            <li><b>Hybridization </b> is the idea that atomic orbitals fuse to form newly hybridized orbitals. <br><br>An important example is when carbon atoms are surrounded by electron hungry atoms.  Carbon can share all four of its $n=2$ electrons to form  four lower energy  hybrid states, known as $sp^3$ orbitals, as depicted in the figure:<br>
                                <center>   <img src="{% static "img/Hybridization-sp3.png" %}" width="600"></center></li>

                    </ul>
                    <b> Example</b>: $sp^2$ hybridization of <b>Graphite</b>. Graphite consists of sheets of trigonal planar carbon. The individual layers are called graphene (Nobel prize 2010, Andre Geim and Konstantin Novoselov). In each layer, the carbon atoms are arranged in a honeycomb lattice.<br><br>
                    $sp^2$ hybridize three of the four electrons in the $n=2$ shell of carbon:
                    <center>   <img src="{% static "img/Hybridization-sp2.png" %}" width="600"></center><br><br>
                    $sp^2$ orbital can be represented as:
                    $$\psi_{I}=\psi_{2s}+\sqrt{2}\psi_{2 p_x},\quad \psi_{II}=\psi_{2s}-\sqrt{1\over 2}\psi_{2 p_x}+\sqrt{3\over 2}\psi_{2 p_y},\quad \psi_{III}=\psi_{2s}-\sqrt{1\over 2}\psi_{2 p_x}-\sqrt{3\over 2}\psi_{2 p_y},$$
                    <em>Which angles this states form?</em><br><br>
                    <center>   <img src="{% static "img/graphite.png" %}" width="600"></center><br><br>
                    <!-- <a href="https://www.thephysicsaviary.com/Physics/Programs/Labs/MaxwellDistribution/" target="_blank">here.</a>
                    -->     <br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
