{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quantum Mechanics III</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }
     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/planck.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Week 3: Quantum Mechanics</h1>
                        <hr class="small">
                        <span class="subheading">=== </span>
                        <span class="subheading">=== </span>
                        <h2>Introduction to Quantum Mechanics (Continuation)</h2>
                        <h3>PHYS-221 Feb 3 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">

                    <h2>The Schrödinger equation</h2>
                    Every wave obeys a wave equation. We can derive the wave equation of a wave on a string or on a body of water, by using Newton's first and second law (since they are both mechanical waves). Or we can derive the EM wave by combining Maxwells equations into a single equation (sort of). <br><br>

                    The wave equation for matter fields is given by the Schrödinger Equation

                    \begin{equation}
                    -{\hbar^2\over 2 m}{\partial^2\Psi(x,t)\over\partial x^2}=i\hbar{\partial\Psi(x,t)\over\partial t}\,,
                    \end{equation}
                    where $\hbar=h/2\pi$.,<br><br>
                    At a first look this equation does not look very intuitive, and a satisfactory derivation probably does not exist. However, let us try to provide some non-rigorous derivation which will allow us to gain some insight into the equation.<br><br>
                    For that, let us consider two things we already know, one about particles and the other about waves. The energy of a particle is given by:
                    \begin{equation}
                    E=K+U ={p^2\over 2m}+u(x)
                    \end{equation}
                    and plane wave moving in direction $x$ is described by the wave equation:
                    \begin{equation}
                    \psi=A {\rm e}^{i(k x- w t)}
                    \end{equation}
                    We also need a couple of relations between wave quantities and particle quantities: We have seen that de Broglie relates the momentum of a particle with its wavelenght by $\lambda={h\over p}$ or equivalently $p={h\over\lambda}$. In turn, a wave is characterized by <em>the wave number</em> $k={2\pi\over \lambda}$, which allow us to relate $\fbox{$p=\hbar k$}$. Similarly, the energy of particle quantum is $E=hf$ where the frequency for a wave is given by $f={\omega\over (2\pi)}$ which give us $\fbox{$E=\hbar\omega$}$.
                    <br><br>
                    From the plane wave, is easy to see that:
                    \begin{equation}
                    {d^2\psi\over dx^2}=(ik)^2\psi=-\left({p^2\over \hbar^2}\right)\psi
                    \end{equation}
                    or equivalently $\fbox{$-\hbar^2 {d^2\psi\over dx^2}=p^2\psi$}$.<br><br>
                    Now, taking the derivative of $\psi$ wrt time, we get:
                    \begin{equation}
                    {d\psi\over dt}=-i\omega\psi=-{i\over \hbar}E\psi
                    \end{equation}
                    What implies $\fbox{$E\psi=i\hbar{d\psi\over dt}$}$.
                    <br><br>
                    which finally allow us to write:
                    \begin{equation}
                    E\psi={p^2\over 2m}\psi+u(x)\psi\quad\rightarrow\quad-{\hbar^2\over 2m} {d^2\psi\over dx^2}+u(x)\psi=i\hbar{d\psi\over dt}
                    \end{equation}
                    And therefore the  Schrödinger equation is nothing else but the energy of the wave/particle (I have actually now gave you a more general version of it) &#128526;.

                    Few clarifications are in order: Both the wave equation and its solution are complex. One one end, that is just a convenient mathematical way to write things, with further physical consecuences. On the other end, the things that we measure will be real. For example, I have mentioned previously that the probability associated to the quantum particle is given by the square of its wave function $|\psi|^2$, which is real.<br><br>
                    <hr>
                    Quick reminder: The square of a complex number is given by
                    \begin{equation}
                    |\psi|^2={\rm Re}(\psi)^2+{\rm Im}(\psi)^2\quad\in\mathbb{R}
                    \end{equation}
                    <hr>
                    <h2>Heisenberg Uncertainty Principle</h2>
                    In the previous lecture we argue that the square of the wave function is related to the probability of finding the particle in a given region at a given time. However, it is obvious that the probability of finding a particle anywhere in the WHOLE space time most be one, i.e:
                    \begin{equation}
                    \int d P(x,t)=1=C\times\int |\psi(x,t)|^2 dV
                    \end{equation}
                    More precisely, the square of the wave function is related to the probability density (probability per unit of volume). In that sense, the plane wave function we have used to "derive" Schrodinger equation, is quite peculiar,
                    \begin{equation}
                    |A {\rm e}^{i(k x- w t)}|^2 = |A|^2 
                    \end{equation}
                    And therefore such particle has the same probability of being found anywhere in space. That's certanly not realistic, but is actually a good aproximation in many escenarios (similar as to approximate earth surface as flat in many useful situations, a simple concept that flat earthers find dificult to comprehend.). However, plane waves are not just approximations, in fact, any wave function, regardles how complicated its shape might be, can be written as a sum of plane waves, as:
                    \begin{equation}
                    \psi(x,t)=C\int_{-\infty}^{\infty} A(k) {\rm e}^{i(k x- w t)} dk
                    \end{equation}
                    The equation above is known as a <em>Fourier transform</em> and is widely used in physics, math and engineering. It is indeed a powerful tool with deep physical implication, such as the <b>Heisenberg Uncertainty Principle</b>, which states that the variance for the position of a wave function times the variance of the momemtum, is always bigger than half $\hbar$, i.e,
                    \begin{equation}
                    \sigma_x \sigma_p \geq {\hbar\over 2}
                    \end{equation}
                    <br><br>
                    <hr>
                    Quick reminder: Given the probability $p(x)$ that getting a value $x$, the mean value of $x$, denoted $\bar{x}$ is defined as:
                    \begin{equation}
                    \bar{x}=\int_{-\infty}^{\infty}x p(x) dx
                    \end{equation}
                    The square of the standard deviation, gives the average squared difference from the mean, or
                    \begin{equation}
                    \sigma_x^2=\overline{(x-\bar{x})^2}=\int_{-\infty}^{\infty}(x-\bar{x})^2p(x)dx
                    \end{equation}
                    <hr>

                    Heisenberg Uncertainty Principle states than, if you know the position with absolute accuracy, you don't know the momentum at all, and the other way around &#x1F92F;, or in other words, it is imposible to know precisely both position and momentum simultaneously: the uncertanty $\sigma_x$ and $\sigma_p$ cannot be zero at the same time. The more we know about one, the less we know about the other &#128561;.<br><br>
                    A good practical example of the uncertaninty principle can be seen from the plane wave. As we saw previously, it has an equal probability to be found anywhere in space, but on the other hand, it has a well determined momentum, given by $p=\hbar k$ (In mathematical terms, the Fourier transform of a plane wave is a Dirac's delta function $\delta(p-p')$).
                    <br><br>
                    How does the Uncertainty Principle does not contradict the classical laws of Newton?. From a classical perspective, one can us Newton's laws in order to determine, at least theoretically, the exact position and momentum of a body once we know the forces acting on it. The reason this does not contradict the uncertanty principle is because QM applies to physical systems at scales of order $\hbar$, in other words, in tipical macroscopic system the uncertainties in the measurements is way larger that $\hbar$ and effectivelly, we have $\sigma_x\sigma_p\geq0$ (In actuality, there would be always an uncertanty associated to the measurement.)<br>
                    We say that classical mechanics is deterministic, whereas quantum mechanics is non-deterministic, or more precisely, probabilistic.

                    <br><br>
                    <b>Energy-Time Uncertainty Principle</b>
The uncertainty principle is a bit more general, and involves any conjugate quantities (which can be related by Fourier transforms), such as Energy and time,
                    \begin{equation}
                    \sigma_E \sigma_t \geq{\hbar\over2}
                    \end{equation}
Some rare subatomic particles have a very short life span, say $10^{-20}$, giving us a quite good idea of its "position" in time, i.e $\sigma_t$ is small. In which case, we will have a large uncertainty in the energy, or equivalently, the mass of such particle. Another example is the change of a quantum state at a given energy level to another. This events are quite fast, having a large uncertainty in the energy "released" from the jump.<br><br>
                    <h3>On the limitations of knowledge</h3>
                    The uncertainty principle places limitations on our ability to know, even theoretically, exact quantities: We will never be absolutly certain &#129300;. Even more, the wave nature imposes several limitations beyond (even though related to) the uncertainty principle. Let's go back to the doble slit experiment and think on what we meant by knowing the position of a particle.
                    <center>   <img src="{% static "img/double-slit2.jpg" %}" alt="double_slit" width="300"></center><br><br>
                    What we want to mean by knowing, is that before the given particle hits the screen, we should be able to tell where at the screen the particle is going to hit, but we don't know, we just know the probability of the particle being in X or Y region. Now the particle hits the screen and we have measure it "actual" position. In order for that to happend, the measurment haas altered the wave function of the particle, in order to give us "exact" certainty on its position. This is called the collapse of the wave function, and essentially implies that we can't know the location of a particle until we actually look at it, which now changes its wave function, is not the same thing anymore!, our measurement alter the very nature of the thing we were trying to measure  &#129324 . <br><br>
                    During the early days of QM, many prominent figures, including the Einstein, argued that the wave-particle duality nature must be incomplete, since a way to determine the "real" position, momentum, energy, etc... was lacking. However, the modern consensus asserts that until an obesvation is done, localizing the particle (or more generally, collapsing its wave function ), a particle simply  does not have a definite location (or momentum, etc..), this is today know as <b>The Copenhagen Interpretation.</b>
                    <center>   <img src="{% static "img/niels_bohr_institute.jpg" %}" width="700"><p>Niels Bohr Institute</p></center><br><br>

                    <center>   <img src="{% static "img/hein_bath.jpg" %}" width="700"><p>Heisenberg's Bathtub</p></center><br><br>
                    <br><br><br>

                </div>
            </div>
        </div>
    </div>


</body>

</html>
