{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quantum Distros</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }

     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/maxwell.jpeg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Week 11</h1>
                        <hr class="small">
                        <h2>Quantum Distribution</h2>
                        <h3>PHYS-221 April 7 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    Announcement: 
                    <h2>Classical vs Quantum</h2>
                    Up until this point we have seen that the probability distribution of energy is described by the Boltzmann distribution, which is in a sense a semi-classical expression.  We have used it to compute averages of some quantities both, semi-classically and classically.  In this section we are going to see a proper quantum energy probability distribution.  It is enlightening to make a quick comparison between the different assumptions which should make  in a full quantity system versus a classical system,
                    <ul>
                        <li>Quantum: Discrete Energies <br>
                        Classical: Continuous Energies</li>
                        <li>Quantum: Energy degeneracies<br>
                        Classical: Not degeneracies</li>
                        <li>Quantum: Indistinguishable particles<br>
                            Classical: Distiguishable particles</li>
                    </ul>
                    <br><br>
                    Once again, we want compute the average number of  particles at energy level $E_i$ (occupation number). For that, think we have a system of total energy $E$, total number of particles $N$ and put $n_i$ particles at a given energy $E_i$. Henceforth we need to distribute the remaining $E-n_i$ among the remaining $N-n_i$. Say there is $W(E-n_i,N-n_i)$ different ways of achieving such configuration, then:
                    $$P(E_i)={W(E-n_i,N-n_i)\over \sum_i W(E-n_i,N-n_i)}\,. $$
                    An important observation is that $n_i << N $, and we can compute $P(E_i)$ approximately, by expanding in  small $n_i$. More explicitly, defining,
                    $$f(E(n_i),N(n_i))=\log W(E-n_i,N-n_i)\,,  $$
                    and Taylor expanding at first order in $n_i$ we get,
                    $$f(n_i<< N)=\log W(E,N)+n_i\left((-E_i){\partial\over \partial E}-1{\partial\over \partial N} \right)\log W(E,N)$$
                    Finally, using $S=k_B \log W$ and the definitions,
                    $$ {\partial S\over \partial Q}={1\over k_B T},\qquad ={1\over k_B} {\partial S\over \partial N}=\alpha\,, $$
                    where $\alpha$ is the chemical potential, we arrive to
                    $$W(E-n_i,N-n_i)=W(E,N)e^{-(\alpha+E_i/k_B T)n_i}\,. $$
                    Now, in order to compute the occupation number,
                    $$\bar{n_i}=\mathcal{N}(E_i)=\sum_in_i P(E_i)\,, $$
                    we need to carry over the sum.  This can be done easily, as we have seen in previous classes, by using the geometric series, leading us to an unifiying expression for the three energy distributions we have learn so far:
                    $$ \mathcal{N}(E_i)={1\over B e^{E_i/k_B T}-\epsilon}$$
                    with $\epsilon=1$ for boson,  $\epsilon=-1$ for fermions, and  $\epsilon=0$ for classical/semiclassical particles!. $B$ is a normalization constant that can be computed from the requierement of total probability equal to one:
                    $$B_{bosons}={1\over 1-e} $$

                    <!-- <center>   <img src="{% static "img/boltz_diff_temps.png" %}" width="600"></center><br><br> -->
                    <h2>Maxwell Speed Distribution</h2>
                    <!-- <center>   <img src="{% static "img/maxwell_diff_vs.png" %}" width="600"></center><br><br>
                         <a href="https://www.thephysicsaviary.com/Physics/Programs/Labs/MaxwellDistribution/" target="_blank">here.</a>
                    -->    <br><br><br>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
