{% load static %}
<!DOCTYPE html>
<Html Lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Special Relativity</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- MathJAx -->
    <script>
     MathJax = {
         tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
         }
     };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/Einstein01.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Special Relativity</h1>
                        <h3>PHYS-221 November 9 / 2023 </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">

		  <!-- Learning objectives and concepts to learn -->
		  <h2>Learning Objectives</h2>
		  <ol>
		    <li>Identify which frame of reference measures the proper time</li>
		    <li>Identify which frame of reference measure the proper lenght</li>
		    <li>Identify which observer measure a lenght contracted</li>
		    <li>Identify which observer measure a time dilated</li>
		  </ol>
		  
		  <!-- background knowledge -->
                  <h2>Lets recall some concepts </h2>
		  <em> Fill in the blancks</em> <br>
		  <b> Rules</b>: those than know what to fill in =<b> shout it out</b>. Those that does not =  <b> raise your hand</b>.
		  <br>
		  <br>
		  Lets practice first:<br>
		  Special Relativity was proposed and developed by ____________.
		  <br>
		  <br><br>
                  Anything that occurs in a specific location at an specific time is called an _____  .<br><br>
		 The time interval between two events occurring at the same location in a given frame of reference is called  ______  time. <br><br>
		  The lenght of an object in a frame where the object is at rest is called the __________ .<br><br>
		  Two events that are simultaneous in one frame are ____ simultaneous in another frame different to the first.<br><br>

		  <em>Conceptual questions: </em>

		  <br><strong>Rules for voting from now on:</strong> Voting is simultaneous (and mostly anonymous)<br><br>
		  
		  The time interval $\Delta t_A$ between two events in a frame (A), is __________ than the time interval $\Delta t_B$ in a different frame (B) where the events occur at the same location:
		  <br>
		  <br>
		  <ol type="A">
		     <!-- longer -->
			  <li>Shorter</li>
			  <li>Equal</li>
			  <li>Longer</li>
			</ol>
		  <br><br><br><br>

		  
					  The distance interval $\Delta l_A$ between two events in a frame (A), is _______ than the distance interval $\Delta l_B$ in a different frame (B) where the events are at rest:
		  <br>
		  <br>
		  		  <ol type="A">
		    <!-- shorter -->
			  <li>Shorter</li>
			  <li>Equal</li>
			  <li>Longer</li>
			</ol>
<br><br><br>

<em>Mathematical Description</em><br>
Notation: $t_0=$ <strong>Propert time</strong> and $\ell_0=$ <strong>Proper lenght</strong>. <br><br>
		    Time Dilation:
		    $$\Delta t=\gamma\, \Delta t_0 $$
		    Length Contraction
		    $$\Delta \ell=\frac{\ell_0}{\gamma}\,.$$

                    <h2>Now lets use it</h2>
                  <p>A muon is created in the atmosphere 3 km above Earth's surface, heading downward at speed $0.98c$. It survives $2.2\mu s$ in its own frame of reference before decaying.<br>
		    (a) If the muon would have not been relativistic, how far would the muon travel before decaying?, and how much longer than $2.2 \mu s$ would it have to survive to reach the surface?<br>
		    <!-- TPS -->
		   <b> Pair up and work on it. </b>
		    		  <br><br><br>
		  (b) Relativistically, according to an observer on Earth, how long will the muon survive before decaying? Will it reach the surface?<br>
		  <!-- TPS -->
		 <b> Pair up and work on it</b>.
		 <br><br><br><br>

		 <b> Poll: </b> Who measures the proper time?
		 <!-- Use printed cards -->
		 <br>(A) Muon 
		 <br>(B) Earthling
    		 <br><br><br><br>

		 <strong>Poll: </strong> According to an Earthling, what's the distance traveled by the muon?
		 <br> (A) $0.98 c\times \Delta t$
		 <br> (B) $0.98 c\times \Delta t_0$
		 <br><!-- Open to the whole class -->
		 Let's revisit item (b), answers? 
 		 
		 <br><br><br><br>
		 (c) Relativistically, according to the muon, what is the dis­tance from the point in the atmosphere where the muon is created to Earth's surface, and how much time will it take this distance to pass the muon?
		 <br>
		 <!-- TPS -->
		 <strong>Pair up and work on it</strong>
		 <!-- Use printed cards -->
		 <br><br><br>
		 <strong>Poll: </strong> Considering the distance between the location at which the muon is created and Earth's surface. Does it corresponds to a proper lenght?
		 <br>(A) Yes
		 <br>(B) Not		 
		 <br><br><br><br>
		 <strong>Poll: </strong> According to the muon, how much time will requiere to reach Earth's surface?
		 <br> (A) $\frac{\ell_0}{0.98\, c}$
		 <br> (B) $\frac{\ell}{0.98\, c}$<br><br>
		  </p>
                    
                </div>
            </div>
        </div>
    </div>


</body>

</html>
