{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Physics</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <img src= "{% static 'img/cwru-logo.png' %}" alt="cwru-logo" width="100" height="100">
                <header class="intro-header" style="background-image: url({% static 'img/cwru-logo.png' %})">
                <!-- <a class="navbar-brand" href="">Home</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/"  style="color:black;" >Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/syllabus2.png' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h3  style="color:black;" >Syllabus</h3>
                        <hr class="small">
                        <span class="subheading" >---------</span>
                        <span class="subheading" >---------</span>
                        <span class="subheading" >---------</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h1>PHYS 221: Introduction to Modern Physics</h1>
                    <h2 class="post-title">
                       It's in the syllabus.
                        </h2>
                        <strong>Sophmore-level Modern Physics: Special Relativity, Quantum Physics, and Applications as follows.</strong>
                        <p>
                            The Kinetic Theory of Gases, Waves and Particles,
                            The Atomic Theory of Matter, Special Theory of Relativity,
                            The Michelson-Morley Experiment, Einstein’s Postulates,
                            The Lorentz Transformation, Time Dilation and Length Contraction
                            Twin Paradox, Spacetime, Equivalence of Mass and Energy,
                            Discovery of the X-Ray and the Electron,
                            Blackbody Radiation, Photoelectric Effect,
                            Structure of the Atom, Rutherford Scattering,
                            The Correspondence Principle,
                            Wave Properties of Matter, Wave Motion, Uncertainty Principle, Probability, Wave Functions, and the Copenhagen Interpretation;
                            Particle in a Box, The Schro ̈dinger Wave Equation,
                            Simple Harmonic Oscillator, Barriers and Tunneling, Alpha-Particle Decay, Solution of the Schro ̈dinger Equation for Hydrogen,
                            Quantum Numbers, Magnetic Effects on Atomic Spectra,
                            Intrinsic Spin, Selection Rules,
                            Statistical Physics, Maxwell Velocity Distribution,
                            Fermi-Dirac Statistics, Bose-Einstein Statistics,
                            Quantum Entanglement, Teleportation, and Information, Superconductivity, Band Theory of Solids, Semiconductor Devices, Nuclear Physics, Radioactive Nuclides, Fission, Fusion,
                            Pareticle Physics, Symmetries, Quarks, Leptons,
                            Neutrino Oscillations, Matter-Antimatter,
                            Cosmology, The Big Bang, The Age of the Universe
                        </p>

                        <h2>Summary information:</h2>
                        <strong>Prerequisites:</strong>PHYS 122 (calculus-based E&M) or equivalent </br> </br>
                        <strong> Modality: </strong> Lectures: In-person (all lectures will be video recorded).</br> Exams: In-person. Homework submitted via Canvas. </br> </br>
                        <strong>Schedule:</strong> MWF 3:20 to 4:10 PM in Rockefeller 301</br> All lectures will be video recorded for asynchronous access.  </br> </br>
                        <strong>Instructor:</strong> Carlos Cardona,  Rockefeller Somewhere (2nd floor), E-mail: cargicar@gmail.com or  xxxx@case.edu,  Phone: xxx-xxx-xxxx (office) or xxx-xxx-xxxx (mobile) </br> </br>
                        <strong>Recitation Instructor:</strong> </b> </br>
                        <strong> SI Leader:</strong> </br> </br>
                        <strong>Recommended Text:</strong> Modern Physics By Krane (or any functional equivalent textbook) </br> </br>
                        <strong>Homework:</strong> Worth 20% of your grade, assigned weekly,
                        usually due Fridays, 5 PM submitted and graded via Canvas.</br> </br>
                        <strong>Grade Breakdown:</strong></br>Homework:  20% (lowest HW score dropped)</br>
                        1st hour exam (Fri Feb 18) :  15% </br>
                        2nd hour exam (Fri Apr 01) :  25% </br>
                        Final exam (Tue May 03, 3:30PM): 40% </br></br>
                        <strong> For Optional Bonus Online Homework:</strong> The Expert TA, software license: Class Code: USW37OH-90DDDA-2IK </br> </br>
                        <strong>Online Homework: </strong> Register at: http://goeta.link/USW37OH-90DDDA-2IK </br></br>
                        <strong>Recitations: Thursdays; 10AM and 1PM</strong> </br>

                        <h3>A Few Words of Caution</h3>
                        <ul style="list-style-type square">
                            <li>I am newcomer to CWRU and it is my first time teaching in a U.S university (I have taught at the university level in others countries tho). That implies many things, amoung them that my style and ways, may (or may not) appear a bit "weird" to some of you. I am open to honest criticism and to try new methods and styles, but after we have tried my way first for a bit.  </li>
                            <li>English is neither my first language nor my second, so please stop me whenever you don't get what I said, similarly, please correct me any mispronunciation and forgive me before hand for butchering names and even some words. </li>
                            <li>Due to multiple reasons, the assigning of this course was an almost last minute decision, so it might be not (yet) as well built and structure as I desire, but it will be in due time. Also because of the same reason there will be many typos in this notes-wanna-be.
                            </li>
                            <li>For the first time, I am experimenting with the web-app kind of format. We can switch to whole blackboard/slides style if there is majority agreement at some point (I will be using a lot of blackboard either way).</li>
                        </ul>

                </div>
            </div>
        </div>
    </div>


</body>

</html>
/
